main .section.accordion-2-container {
  padding: 64px 0;
}

main .section div.accordion-2-wrapper {
  max-width: unset;
}

.accordion-2 {
  font-size: var(--body-font-size-s);
}

.accordion-2 h2 {
  font-weight: 500;
  margin: 8px 0;
}

.accordion-2 h2,
.accordion-2 .buttons {
  font-size: 1.4rem;
}

.accordion-2 .buttons {
  position: absolute;
  bottom: 10px;
  right: 10px;
  color: var(--text-pink);
  font-weight: 500;
  text-transform: uppercase;
}

.accordion-2 .button-more,
.accordion-2 .button-less {
  cursor: pointer;
}

.accordion-2 .active .button-more,
.accordion-2 .button-less {
  display: none;
}

.accordion-2 .active .button-less {
  display: block;
}

.accordion-2 .p-img-first {
  width: 88px;
  height: 55px;
  position: relative;
  margin: 0;
}

.accordion-2 .p-img-first picture {
  object-fit: cover;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.accordion-2 > div > div {
  position: relative;
  height: 55px;
  max-width: var(--page-max-width);
  margin: 13px;
  border: 2px solid var(--color-grey-6);
  padding: 10px;
  display: grid;
  grid-template-columns: 100px auto;
  grid-auto-rows: auto;
  gap: 0 10px;
  overflow: hidden;
}

.accordion-2 > div > div.active {
  height: unset;
}

.accordion-2 > div > div > p.p-img-first {
  grid-column: 1;
  grid-row: 1;
  align-self: center;
}

.accordion-2 > div > div > h2 {
  grid-column: 2;
  grid-row: 1;
  align-self: center;
}

.accordion-2 > div > div > *:nth-child(n+3) {
  grid-column: 1 / 3;
  grid-row: auto;
}

.accordion-2 p:nth-of-type(n+2) {
  margin: 10px 50px 0 0;
}

.accordion-2 > div > div > .p-img {
  display: flex;
  flex: 1;
  gap: 20px;
  grid-template-columns: 100px auto;
  align-items: center;
}

.accordion-2 > div > div > .p-img picture {
  flex: 0 0 100px;
}

.accordion-2 > div > div > p.p-img-first img {
  height: 55px;
}

.accordion-2 > div > div > p:not(.p-img-first) {
  visibility: hidden;
}

.accordion-2 > div > div.active > p {
  visibility: visible;
}

@media (min-width: 900px) {
  .accordion-2 {
    font-size: var(--body-font-size-m);
  }

  .accordion-2 h2,
  .accordion-2 .buttons {
    font-size: 1.6rem;
  }
  
  .accordion-2 > div > div > p.p-img-first {
    width: 133px;
    height: 82px;
    grid-row: 1 / 3;
  }

  .accordion-2 > div > div > p.p-img-first img {
    height: 82px;
  }

  .accordion-2 > div > div {
    height: 85px;
    grid-template-columns: 145px 80px auto;
    margin: 13px auto;
  }

  .accordion-2 > div > div > h2 {
    grid-column: 2 / 4;
    grid-row: 1;
  }
  
  .accordion-2 > div > div > *:nth-child(n+3) {
    grid-column: 2 / 4;
    grid-row: auto;
  }

  .accordion-2 > div > div > p.p-first {
    display: block;
    height: 35px;
    overflow: hidden;
    grid-row: 2;
  }

  .accordion-2 > div > div.active > p.p-first {
    height: unset;
    overflow: unset;
  }
}