:root {
  --link-home-button-hover-color: #f03285;
  --column-grey-background-color: #f6f6f6;
  --column-white-background-color: #fff;
  --button-arrow-orange: #ee8331;
  --row-heading-color: #172660;
}

.columns > div {
  display: flex;
  flex-direction: column;
}

.columns img {
  width: 100%;
}

.columns > div > div {
  order: 1;
}

.columns > div > .columns-img-col {
  order: 0;
}

.section .columns img {
  max-height: 10.6875rem;
  width: auto;
  max-width: 15rem;
}

.columns > div > .columns-img-col img {
  display: block;
}

main .section .columns-wrapper {
  max-width: unset;
  margin: unset;
}

main .section.columns-container {
  padding: 0;
}

.section .columns > div:nth-child(even) {
  background-color: var(--column-grey-background-color);
}

.section .columns > div:nth-child(odd) {
  background-color: var(--column-white-background-color);
}

main .section.columns-container .columns-wrapper .columns > div {
  padding: 2.5rem 0.75rem 1.875rem;
  position: relative;
  flex-direction: column;
}

.row-wrapper > div {
  max-width: 62.625rem;
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1.5625rem;
}

.row-wrapper > div > div.columns-img-col {
  order: 0;
}

.row-wrapper > div > div {
  order: 1;
}

@media (min-width: 600px) {
  main .section.columns-container {
    padding: unset;
  }

  main .section.columns-container .columns-wrapper .columns > div .row-wrapper {
    flex-direction: row;
    align-items: center;
  }

  .row-wrapper > div {
    flex-direction: row;
  }

  .row-wrapper > div > div {
    flex: 1;
    order: unset;
  }

  main .section.columns-container .columns-wrapper .columns > div .row-wrapper > div.columns-img-col {
    order: 1;
  }
}

main .section.columns-container .columns-wrapper .columns > div::after {
  width: 2rem;
  height: 2rem;
  transform: rotate(45deg);
  position: absolute;
  content: "";
  order: 2;
  left: 50%;
  bottom: -16px;
  z-index: 1;
}

main .section.columns-container .columns-wrapper .columns > div:nth-child(odd)::after {
  background-color: var(--column-white-background-color);
}

main .section.columns-container .columns-wrapper .columns > div:nth-child(even)::after {
  background-color: var(--column-grey-background-color);
}

main .section.columns-container .columns-wrapper .columns > div:last-child::after {
  display: none;
}

main .section.columns-container .columns-wrapper .columns .footnote {
  font-size: var(--body-font-size-xs)
}

.row-wrapper:not(:first-of-type) > div > div > p:nth-last-of-type(2) {
  margin-bottom: 2.5rem;
}

@media (min-width: 900px) {
  .columns > div {
    align-items: center;
    flex-direction: unset;
    gap: 32px;
  }

  main .section.columns-container .columns-wrapper .columns > div {
    padding: 2.5rem 0.75rem 1.875rem;
  }
}

.section .columns .button-container a {
  border: none;
  background-color: transparent;
  color: black !important;
  position: relative;
  justify-content: left;
  align-items: center;
  max-width: 14.875rem;
  font-size: var(--heading-font-size-m);
  font-weight: var(--font-weight-thin);
  line-height: 1.1;
}

.section .columns .button-container a:hover {
  color: var(--link-home-button-hover-color) !important;
}

.section .columns .button-container a::before {
  width: 1.8125rem;
  height: 0.212em;
  background-color: var(--button-arrow-orange);
  position: absolute;
  content: "";
  top: 15%;
  right: 0;
  transform: rotate(45deg);
  border-radius: 40px;
  display: inline-block;
} 

.section .columns .button-container a::after {
  width: 1.8125rem;
  height: 0.212em;
  background-color: var(--button-arrow-orange);
  position: absolute;
  content: "";
  top: 76%;
  right: 0;
  transform: rotate(-45deg);
  border-radius: 40px;
  display: inline-block;
}

@media (min-width: 900px) {
  .section .columns img {
    max-height: unset;
    max-width: unset;
  }
  .section .columns .button-container a {
    line-height: initial;
  }
  .section .columns .button-container a::before{
    top: 25%;
  }
  .section .columns .button-container a::after {
    top: 62%;
  }
}

.section .columns picture {
  display: flex;
  justify-content: center;
}

.section .columns .columns-img-col {
  align-self: center;
}

.section .columns h2 {
  font-size: var(--heading-font-size-xxl);
  color: var(--row-heading-color);
  line-height: 1.1;
}

@media (min-width: 600px) {
  main .section.columns-container {
    padding: unset;
  }
}
