.section.columns-container {
  padding-left: 0;
  padding-right: 0;
}

.section.hero-container + .section.columns-container {
  padding-top: 0;
}

.columns {
  font-size: var(--body-font-size-s);
}

.columns h2 {
  margin: 25px 0 0;
  line-height: 1;
  max-width: 500px;
  text-transform: uppercase;
  font-size: var(--heading-font-size-xxl);
}

.columns p > em:first-child:last-child {
  font-size: var(--body-font-size-xs);
}

.columns-row > div {
  padding: 28px 0;
  display: flex;
  flex-direction: column;
}

.columns-80-20 .columns-row > div {
  flex-direction: row;
}

.columns-row img {
  transform: scale(0.8);
}

@media (min-width: 900px) {
  .columns-row img {
    transform: scale(1);
  }
}

.columns.columns-80-20 img {
  max-width: 77px;
  max-height: 77px;
  transform: translate(20px, 15px);
}

.columns-col {
  --col-padding: 15px;

  padding-left: var(--col-padding);
  padding-right: var(--col-padding);
  order: 1;
  align-self: start;
}

.columns-col.columns-img-col {
  align-self: center;
}

.columns-80-20 .columns-col.columns-img-col {
  align-self: unset;
}

.section.columns-container > div.columns-wrapper {
  max-width: 100%;
}

.columns > div.columns-row {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.columns.rows-white-grey > div.columns-row:first-of-type {
  background-image: url('../../images/bg_cntnt-1-lines.png');
}

.columns.rows-white-grey > div.columns-row:nth-child(even) {
  background-color: var(--background-grey-4);
  background-image: url('../../images/home-section-3-down-arrow-white.png');
  background-position: top center;
  background-size: unset;
}

.columns.rows-grey-white > div.columns-row:nth-child(even) {
  background-color: var(--background-color);
  background-image: none;
}

.columns.rows-grey-white > div.columns-row:nth-child(odd) {
  background-image: url('../../images/how-section-3-bg-mobile.png');
  background-size: cover;
}

@media (min-width: 900px) {
  .columns.rows-grey-white > div.columns-row:nth-child(odd) {
    background-image: url('../../images/bg-section-new.png');
    background-size: 100% 100%;
  }
}

.columns.rows-white-grey > div.columns-row:nth-child(odd):not(:first-of-type) {
  background-image: url('../../images/home-section-4-bg.png');
}

.columns-row .columns-img-col {
  order: 0;
}

.columns-row .columns-img-col img {
  display: block;
  margin: auto;
}

.home .columns .button-container {
  max-width: 290px;
  margin-top: 55px;
}

.home .columns h2 + .button-container {
  margin-top: 25px;
}

.home .columns .button-container a {
  border: 0;
  text-transform: unset;
  color: var(--text-color);
  font-size: var(--body-font-size-m);
  font-weight: 400;
  padding: 0;
  line-height: 1.7rem;
}

.home .columns .button-container .icon {
  width: 55px;
  height: 55px;
  margin-right: 8px;
}

.home .columns .button-container .icon img {
  width: 55px;
  height: auto;
}

.home .columns .button-container a:hover {
  color: var(--link-hover-color-2);
}

.home .columns .button-container a::after {
  content: "";
  width: 32px;
  height: 29px;
  background: url('/icons/icon_or-arr-right-wt-bg.png') no-repeat;
  background-size: contain;
}

@media (min-width: 900px) {
  .columns {
    font-size: unset;
  }

  .columns h2 {
    margin-top: 0;
  }

  .columns-row > div {
    flex-direction: row;
    max-width: var(--page-max-width);
    margin: auto;
    padding: 70px 0 30px;
  }

  .columns.xs .columns-row > div {
    max-width: calc(var(--page-max-width) * 0.85);
  }

  .columns.columns-80-20 img {
    max-width: 117px;
    max-height: 117px;
    transform: translate(30px, 10px);
  }

  .columns-col {
    flex: 1;
    order: unset;
  }

  .columns-60-40 .columns-col.columns-img-col {
    flex-basis: 40%;
  }

  .columns-60-40 .columns-col:not(.columns-img-col) {
    flex-basis: 60%;
  }

  .columns-75-25 .columns-col.columns-img-col {
    flex-basis: 25%;
  }

  .columns-75-25 .columns-col:not(.columns-img-col) {
    flex-basis: 75%;
  }

  .columns-80-20 .columns-col.columns-img-col {
    flex-basis: 20%;
  }

  .columns-80-20 .columns-col:not(.columns-img-col) {
    flex-basis: 80%;
  }

  .home .columns .button-container {
    max-width: 350px;
  }
  
  .home .columns .button-container .icon {
    width: 87px;
    height: 87px;
    margin-right: 25px;
  }
  
  .home .columns .button-container .icon img {
    width: 87px;
    height: 87px;
  }
}

circle.transition {
  transition: 
    cx 0.5s ease-in-out,
    cy 0.5s ease-in-out,
    r 0.5s ease-in-out;
}

.section.hero-container + .section.columns-container div.columns-wrapper:first-of-type div.columns-row:first-of-type > div {
  padding-top: 35px;
}

.columns.centered {
  text-align: center;
}

.columns.width-s {
  max-width: 600px;
  margin: auto;
}
