header .nav-top {
  height: 20px;
  font-size: var(--body-font-size-xxxs);
  overflow: hidden;
  padding: 0 0 0 12px;
  background-color: var(--background-grey-1);
}

header .expanded .nav-top,
header .nav-top.expanded {
  height: unset;
}

header .nav-top > div {
  display: flex;
}

header .expanded .nav-top > div .search form {
  display: flex;
  padding-top: 20px;
}

header .nav-top ul {
  display: flex;
  list-style-type: none;
  flex-wrap: wrap;
  padding-left: 0;
  margin-top: 2px;
  margin-bottom: 2px;
}

header .nav-top li {
  padding-left: 9px;
  padding-right: 10px;
  line-height: 16px;
}

header .nav-bottom li {
  list-style-type: none;
  border-bottom: 2px solid var(--color-blue-1);
  padding: 15px 0 15px 15px;
  line-height: 1;
  display: flex;
}

header .nav-top li:nth-of-type(n+2)::before {
  content: "\2022";
  position: relative;
  left: -8px;
  top: 2px;
  font-size: 1.4rem;
}

header .nav-top li:nth-of-type(n+2) {
  position: relative;
  bottom: 2px;
}

@media (min-width: 900px) {
  header .nav-top li:nth-of-type(n+2)::before {
    top: 1px;
  }

  header .nav-top li:nth-of-type(n+2) {
    bottom: 1px;
  }
}

header .nav-top .search {
  margin: 0 0 0 auto;
  display: none;
}

header .expanded .nav-top .search {
  display: block;
  z-index: 12;
  flex: 1;
}

header .nav-top .search label {
  display: none;
}

header .nav-top .search input {
  background-color: var(--background-grey-2);
  outline: 4px solid var(--background-grey-2);
  border: none;
  height: 39px;
  padding-left: 8px;
  max-width: 155px;
  font-size: 1.3rem;
  color: var(--text-color-grey-1);
  border-radius: 0;
  border-right: 5px solid var(--background-grey-2);
}

header .expanded .nav-top .search input {
  outline: unset;
  margin-top: 0;
  padding-top: 0;
}

header .nav-top .search input:focus {
  background-color: var(--background-grey-3);
  outline: 4px solid var(--background-grey-3);
  border-right: 5px solid white;
}

header .expanded .nav-top .search input:focus {
  outline: unset;
}

header .expanded .nav-top .search input::placeholder {
  font-size: 1.7rem;
  color: var(--text-color);
  position: relative;
  top: 3px;
}

@media (min-width: 900px) {
  header .expanded .nav-top .search input::placeholder {
    font-size: unset;
    color: var(--color-grey-4);
    top: unset;
  }
}

header .nav-top .search input:focus::placeholder {
  color: transparent;
}

header .nav-top .search button {
  height: 40px;
  width: 40px;
  background: url('/icons/icon_grey-arr-right.png') no-repeat center;
  background-size: 17px 17px;
  background-color: var(--background-grey-3);
  color: transparent;
  border-radius: unset;
  margin: 0 0 0 -4px;
  padding: 0;
  border: none;
}

@supports (-webkit-touch-callout: none) {
  header .nav-top .search button {
    height: 43px;
  }
}

header .nav-top .search button::after,
header .expanded .nav-top .search button::after {
  display: none;
}

header .nav-middle {
  height: 123px;
  font-size: var(--body-font-size-xxxxs);
  line-height: 11px;
  padding: 0 12px;
  position: relative;
}

@media (max-width: 899px) {
  header .nav-middle {
    padding: 0 8px;
  }
}

header .nav-middle .expand-top {
  width: 23px;
  height: 12px;
  background-image: url('/icons/mobile-expand-top-nav.png');
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
  position: absolute;
  left: 50%;
  top: 0;
}

header .nav-middle .expand-top.expanded {
  background-image: url('/icons/mobile-collapse-top-nav.png');
  background-repeat: no-repeat;
  background-size: contain;
}

header .nav-middle img {
  width: 156px;
  height: 100%;
}

header .nav-middle ul {
  padding-inline-start: 9px;
}

header .nav-middle > div > div > div {
  position: relative;
}

header .expanded .nav-top > div {
  flex-direction: row-reverse;
}

@media (min-width: 900px) {
  header .nav-middle ul {
    padding-inline-start: 15px;
  }

  header .expanded .nav-top {
    height: 40px;
  }

  header .expanded .nav-top > div {
    flex-direction: row;
  }

  header .expanded .nav-top > div .search form {
    padding-top: 0;
  }

  header .expanded .nav-top .search {
    flex: unset;
  }

  header .expanded .nav-top .search input {
    outline: 4px solid var(--background-grey-2);
    padding-top: 4px;
    margin-top: -3px;
  }
}

header .nav-bottom {
  display: none;
  font-family: var(--heading-font-family);
}

header .nav-bottom li a {
  padding-left: 50px;
  width: 100%;
  cursor: pointer;
  z-index: 4;
}

header .nav-bottom a:any-link {
  color: var(--background-color);
  font-size: var(--body-font-size-s);
  font-weight: 400;
}

header .nav-bottom ul {
  padding: 0;
  transform: translateY(50px);
}

@media (max-width: 899px) {
  header .nav-bottom ul {
    margin-top: 25px;
  }
}

header .nav-bottom li::after {
  content: "";
  width: 19px;
  height: 16px;
  background-image: url('/icons/icon_pink-arrow-right-md.png');
  background-size: 16px 16px;
  background-repeat: no-repeat;
  display: block;
  margin-left: auto;
  transform: translate(-16px, -2px);
}

header .nav-bottom li a em {
  font-size: 1.5rem;
}

header .nav-bottom li a:hover {
  font-family: var(--heading-font-family);
  text-decoration: none;
  font-weight: bold;
}

header .nav-bottom li a > span:nth-child(2) {
  padding-left: 0.3rem;
}

@media (min-width: 900px) {
  header .nav-bottom li a > span:nth-child(2) {
    padding-left: 0;
    display: block;
  }
}

header .nav-bottom img {
  width: 32px;
  height: 32px;
  position: absolute;
  transform: translateY(-6px);
}

header .expanded .nav-bottom {
  display: block;
  background-color: var(--background-blue-1);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 11;
}

header .nav-top li:first-of-type {
  padding-left: 0;
}

header .nav-middle > div > div > div div:nth-of-type(1) {
  position: relative;
  top: 12px;
}

header .nav-middle > div > div > div div:nth-of-type(2) {
  font-weight: 500;
  position: relative;
  top: 5px;
}

header .nav-middle > div > div > div div:nth-of-type(2) p {
  display: inline-block;
  position: absolute;
  top: 52px;
}

header .nav-middle > div > div > div div:nth-of-type(2) p,
header .nav-middle > div > div > div div:nth-of-type(2) p a {
  font-weight: 400;
}

@media (min-width: 900px) {
  header .nav-middle > div > div > div div:nth-of-type(2) p,
  header .nav-middle > div > div > div div:nth-of-type(2) p a {
  font-weight: 500;
  color: var(--text-color);
}
}

header .nav-middle > div > div > div div:nth-of-type(2) p:nth-of-type(-n+2) {
  display: none;
}

header .nav-middle > div > div > div div:nth-of-type(2) p:nth-of-type(4) {
  left: 100px;
}

@media (max-width: 350px) {
  header .nav-middle > div > div > div div:nth-of-type(2) p:nth-of-type(3),
  header .nav-middle > div > div > div div:nth-of-type(2) p:nth-of-type(4) {
    display: none;
  }
}

header .nav-middle > div > div > div div:nth-of-type(2) p a::after {
  content: "";
  display: inline-block;
  background-image:url('/icons/icon_orange-small-arrow-right.png');
  background-size: 5px 7px;
  background-repeat: no-repeat;
  width: 5px;
  height: 7px;
  margin-left: 5px;
}

header .nav-middle > div > div > div div:nth-of-type(3) {
  position: absolute;
  top: 0;
  right: 12px;
  width: 100px;
  border-radius: 0 0 12px 12px;
  height: 12px;
  border-left: 2px solid var(--color-blue-2);
  border-bottom: 2px solid var(--color-blue-2);
  border-right: 2px solid var(--color-blue-2);
  font-size: var(--body-font-size-xs);
  text-transform: uppercase;
  text-align: right;
  margin-left: auto;
  background-image: url('/icons/icon-explore-hamburger.png');
  background-position: 21px 6px;
  background-repeat: no-repeat;
  background-size: 17px 13px;
  padding: 8px 14px 8px 4px;
  cursor: pointer;
}

@media (max-width: 899px) {
  header .expanded .nav-middle > div > div > div div:nth-of-type(3) {
    padding-right: 0;
  }
}

header .nav-middle > div > div > div div:nth-of-type(3) span.close {
  font-size: var(--body-font-size-s);
}

header .expanded .nav-middle > div > div > div div:nth-of-type(3) {
  z-index: 12;
  background-image: url('/icons/icon_close-x.png');
  background-size: 15px 15px;
  background-position: 34px 5px;
  top: -40px;
}

header .nav-middle > div > div > div div:nth-of-type(3) .close {
  display: none;
}

header .expanded .nav-middle > div > div > div div:nth-of-type(3) .close {
  display: block;
  color: var(--background-color);
}

header .expanded .nav-middle > div > div > div div:nth-of-type(3) .explore {
  display: none;
}

@media (min-width: 900px) {
  header .nav-top {
    height: 40px;
    position: relative;
    font-size: var(--body-font-size-xs);
  }

  header .nav-top .search {
    display: block;
  }

  header .nav-top .search form {
    display: flex;
  }

  header .nav-top ul {
    margin: 12px;
  }

  header .nav-middle {
    height: 132px;
    font-size: var(--body-font-size-xxs);
    overflow: hidden;
  }

  header .nav-middle .expand-top {
    display: none;
  }

  header nav > div > div {
    max-width: var(--page-max-width);
    margin-left: auto;
    margin-right: auto;
  }

  header .nav-middle > div > div > div {
    display: flex;
    height: 132px;
  }

  header .nav-middle > div > div > div div {
    padding: 24px 12px;
  }

  header .nav-middle > div > div > div div:nth-of-type(1) {
    position: unset;
    flex-basis: 30%;
    display: flex;
    align-items: center;
    padding: 30px 24px 18px 0;
  }

  header .nav-middle > div > div > div div:nth-of-type(2) {
    flex-basis: 44%;
    position: unset;
  }

  header .nav-middle > div > div > div div:nth-of-type(2) p {
    position: unset;
    width: 30%;
    padding: 0 26px 0 15px;
    margin: 0;
  }

  header .nav-bottom ul li a {
    padding-right: 20px;
    width: 70%;
    transform: translateX(-10px);
  }

  header .nav-bottom a:any-link {
    font-size: var(--body-font-size-l);
  }

  header .nav-middle > div > div > div div:nth-of-type(2) p:nth-of-type(-n+2) {
    display: inline-block;
  }

  header .nav-middle > div > div > div div:nth-of-type(2) p:nth-of-type(n+3) {
    display: none;
  }

  header .nav-middle > div > div > div div:nth-of-type(2) p a:hover {
    font-weight: unset;
    color: unset;
  }

  header .nav-middle img {
    width: 100%;
    height: auto;
  }

  header .nav-middle > div > div > div div:nth-of-type(3) {
    width: unset;
    position: unset;
    flex-basis: 169px;
    border-radius: 20px 20px 0 0;
    height: 12px;
    border-top: 2px solid var(--color-blue-2);
    border-bottom: none;
    align-self: flex-end;
    font-size: 2.2rem;
    margin-left: auto;
    padding: 18px 21px 16px 3px;
  }

  header .nav-middle > div > div > div div:nth-of-type(3),
  header .expanded .nav-middle > div > div > div div:nth-of-type(3) {
    background-position: 22px 13px;
    background-size: 25px 21px;
  }

  header .expanded .nav-middle > div > div > div div:nth-of-type(3) {
    background-image: url('/icons/blue-close-icon.png');
  }

  header .nav-middle > div > div > div div:nth-of-type(3) .close,
  header .expanded .nav-middle > div > div > div div:nth-of-type(3) .close {
    color: var(--text-color);
    display: none;
  }

  header .expanded .nav-middle > div > div > div div:nth-of-type(3) .explore {
    display: block;
  }

  header .expanded .nav-bottom {
    top: 172px;
    height: 285px;
    padding-top: 10px;
  }

  .faq header .expanded .nav-bottom {
    height: 295px;
  }

  header .nav-bottom br {
    content: unset;
  }

  header .nav-bottom img {
    transform: translateY(0);
  }

  header .nav-bottom ul {
    transform: none;
    display:flex;
    height: 210px;
    align-content: start;
    font-size: var(--body-font-size-l);
    margin: 32px 20px 23px;
    flex-flow: column wrap;
  }

  @media (min-width: 900px) {
    header .nav-bottom ul {
      margin: 32px 0 23px;
    }
  }

  header .nav-bottom ul li {
    width: 312.8px;
    height: 38px;
  }

  header .nav-bottom ul li:nth-of-type(n+4) {
    width: 280.8px;
    padding-left: 45px;
  }

  header .nav-bottom li::after {
    align-self: flex-end;
    transform: translate(-32px, -2px);
  }

  header .nav-bottom li:nth-of-type(n+4)::after {
    transform: translate(-48px, -2px);
  }

  header .nav-bottom ul li:nth-of-type(3n) {
    border: none;
  }

  header .nav-middle > div > div > div div:nth-of-type(2) ul {
    width: 80%;
  }
}

@media (min-width: 1000px) {
  header .nav-top {
    padding: 0;
  }
}

@media (max-width: 899px) {
  body.nav-expanded {
    overflow: hidden;
    position: fixed;
    max-width: 100%;
  }
}
