header .nav-top {
  height: 32px;

  /* use var */
  font-size: 9px;
  overflow: hidden;
  padding: 0 0 0 12px;

  /* use var */
  background-color: #ededed;
  display: flex;
}

header .nav-top ul {
  display: flex;
  list-style-type: none;
  flex-wrap: wrap;
  padding-left: 0;
}

header .nav-top ul li {
  padding-left: 9px;
  padding-right: 9px;
}

header .nav-top ul li:first-of-type {
  padding-left: 0;
}

header .nav-top ul li:nth-of-type(n+2)::before {
  content: "\2022";
  position: relative;
  left: -8px;
}

header .nav-top .search {
  margin: 0 0 0 auto;
  display: none;
}

header .nav-top .search label {
  display: none;
}

header .nav-top .search input {
  background-color: #dcdcdc;
  border: none;
  outline: 4px solid #dcdcdc;
  height: 39px;
  padding-left: 18px;
  margin-top: -3px;
  max-width: 155px;
  font-size: 13px;
  color: #585858;
}

header .nav-top .search input:focus {
  background-color: #bebebe;
  outline: 4px solid #bebebe;
}

header .nav-top .search button {
  height: 40px;
  width: 40px;
  margin-left: -4px;
  background: url(/images/icon_grey-arr-right.png) no-repeat center;
  background-size: 17px 17px;
  background-color: #bebebe;
  color: transparent;
  border-radius: unset;
  margin: 0;
  padding: 0;
  border: none;
}

header .nav-middle {
  height: 123px;

  /* use var */
  font-size: 8px;
  overflow: hidden;
  line-height: 11px;
  padding: 0 12px;
}

header .nav-middle img {
  width: 156px;
  height: 100%;
}

header .nav-middle ul {
  padding-inline-start: 15px;
}

header .nav-bottom {
  display: none;
  font-family: var(--heading-font-family);
}

header .nav-bottom a {
  color: #fff;
  font-family: gotham-book, 'Roboto Mono', menlo, consolas, 'Liberation Mono', monospace;
  font-size: 14px;
}

header .nav-bottom ul {
  padding: 0;
  transform: translateY(50px);
}

header .nav-bottom li {
  list-style-type: none;
  border-bottom: 2px solid #273670;
  padding: 15px 0 15px 15px;
  line-height: 1;
  display: flex;
}

header .nav-bottom li::after {
  content: "";
  width: 18px;
  height: 16px;
  background-image: url('/images/icon_pink-arrow-right-md.png');
  background-size: 16px 16px;
  background-repeat: no-repeat;
  display: block;
  margin-left: auto;
  transform: translateX(-15px);
}

header .nav-bottom li a {
  padding-left: 45px;
  width: 100%;
  cursor: pointer;
  z-index: 4;
}

header .nav-bottom li a:hover {

  /* missing gotham bold font */ 
  font-family: gotham-bold;
  text-decoration: none;
}

header .nav-bottom img {
  width: 26px;
  height: 27px;
  position: absolute;
  transform: translateY(-6px);
}

header .expanded .nav-bottom {
  display: block;
  background-color: #172660;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 2;
}

header .nav-middle .columns > div {
  position: relative;
}

header .nav-middle .columns > div div:nth-of-type(1) {
  position: relative;
  top: 30px;
}

header .nav-middle .columns > div div:nth-of-type(2) p {
  display: inline-block;
  position: relative;
  bottom: 40px;
}

header .nav-middle .columns > div div:nth-of-type(3) {
  position: absolute;
  top: 0;
  right: 12px;
  width: 100px;
  border-radius: 0 0 12px 12px;
  height: 12px;

  /* use var */
  border-left: 2px solid #17265F;
  border-bottom: 2px solid #17265F;
  border-right: 2px solid #17265F;

  /* use var */
  font-size: 12px;

  /* use var */
  font-family: gotham-book, 'Roboto Mono', menlo, consolas, 'Liberation Mono', monospace;
  text-transform: uppercase;
  text-align: right;
  margin-left: auto;
  background-image: url('/images/icon-explore-hamburger.png');
  background-position: 16px 5px;
  background-repeat: no-repeat;
  background-size: 25px 21px;
  padding: 10px;
  cursor: pointer;
}

header .expanded .nav-middle .columns > div div:nth-of-type(3) {
  z-index: 3;
  background-image: url('/images/icon_close-x.png');
  background-size: 15px 15px;
  background-position: 47px 7px;
}

header .nav-middle .columns > div div:nth-of-type(3) .close {
  display: none;
}

header .expanded .nav-middle .columns > div div:nth-of-type(3) .close {
  display: block;
  color: #fff;
}

header .expanded .nav-middle .columns > div div:nth-of-type(3) .explore {
  display: none;
}

@media (min-width: 900px) {  
  header .nav-top {
    height: 40px;

    /* use var */
    font-size: 12px;
  }

  header .nav-top .search {
    display: block;
  }
  
  header .nav-middle {
    height: 132px;

    /* use var */
    font-size: 10px;
  }

  header .nav-middle .columns > div {
    display: flex;
    height: 132px;
  }

  header .nav-middle .columns > div div {
    padding: 24px 12px;
  }

  header .nav-middle .columns > div div:nth-of-type(1) {
    position: unset;
    flex-basis: 30%;
    display: flex;
    align-items: center;
    padding-left: 0;
    padding-right: 24px;
  }

  header .nav-middle .columns > div div:nth-of-type(2) {
    flex-basis: 44%;
  }

  header .nav-middle .columns > div div:nth-of-type(2) p {
    position: unset;
    width: 30%;
    padding: 0 26px 0 15px;
    margin: 0;
  }

  header .nav-middle .columns > div div:nth-of-type(2) ul {
    width: 80%;
  }

  header .nav-middle img {
    width: 100%;
    height: auto;
  }
  
  header nav > div > * {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
  }

  header .nav-middle .columns > div div:nth-of-type(3),
  header .expanded .nav-middle .columns > div div:nth-of-type(3) {
    background-position: 22px 13px;
    background-size: 25px 21px;
  }

  header .nav-middle .columns > div div:nth-of-type(3) {
    width: unset;
    position: unset;
    flex-basis: 169px;
    border-radius: 20px 20px 0 0;
    height: 12px;

    /* use var */
    border-top: 2px solid #17265F;
    border-bottom: none;
    align-self: flex-end;

    /* use var */
    font-size: 22px;
    margin-left: auto;
    padding: 18px 21px 16px 3px;
  }

  header .expanded .nav-middle .columns > div div:nth-of-type(3) {
    background-image: url('/images/blue-close-icon.png');
  }

  header .expanded .nav-middle .columns > div div:nth-of-type(3) .close {
    color: var(--text-color);
  }

  header .expanded .nav-bottom {
    top: 172px;
    height: unset;
  }

  header .nav-bottom ul {
    transform: none;
    display:flex; 
    flex-wrap:wrap; 
    flex-direction:column; 
    height: 210px;
    align-content: start;
    font-size: 18px;
    margin-top: 30px;
  }

  header .nav-bottom ul li {
    width: 283px;
    height: 38px;
  }

  header .nav-bottom ul li:nth-of-type(3n) {
    border: none;
  }

  header .nav-bottom ul li a {
    padding-right: 30px;
    width: 70%;
  }
}