header .nav-top {
  height: 32px;

  /* use var */
  font-size: 9px;
  overflow: hidden;
  padding: 0 12px;

  /* use var */
  background-color: #ededed;
}

header .nav-top ul {
  display: flex;
  list-style-type: none;
  flex-wrap: wrap;
  padding-left: 0;
}

header .nav-top ul li {
  padding-left: 9px;
  padding-right: 9px;
}

header .nav-top ul li:first-of-type {
  padding-left: 0;
}

header .nav-top ul li:nth-of-type(n+2)::before {
  content: "\2022";
  position: relative;
  left: -8px;
}

header .nav-middle {
  height: 123px;

  /* use var */
  font-size: 8px;
  overflow: hidden;
  line-height: 11px;
  padding: 0 12px;
}

header .nav-middle img {
  width: 156px;
  height: 100%;
}

header .nav-middle ul {
  padding-inline-start: 15px;
}

header .nav-bottom {
  position: absolute;
  top: var(--nav-height);
  left: 0;
  display: none;
  font-family: var(--heading-font-family);
}

header .nav-middle .columns > div {
  position: relative;
}

header .nav-middle .columns > div div:nth-of-type(1) {
  position: relative;
  top: 30px;
}

header .nav-middle .columns > div div:nth-of-type(2) p {
  display: inline-block;
  position: relative;
  bottom: 40px;
}

header .nav-middle .columns > div div:nth-of-type(3) {
  position: absolute;
  top: 0;
  right: 12px;
  width: 100px;
  border-radius: 0 0 12px 12px;
  height: 12px;

  /* use var */
  border-left: 2px solid #17265F;
  border-bottom: 2px solid #17265F;
  border-right: 2px solid #17265F;

  /* use var */
  font-size: 12px;

  /* use var */
  font-family: gotham-book, 'Roboto Mono', menlo, consolas, 'Liberation Mono', monospace;
  text-transform: uppercase;
  text-align: right;
  margin-left: auto;
  background: url('/images/icon-explore-hamburger.png');
  background-position: 16px 5px;
  background-repeat: no-repeat;
  background-size: 25px 21px;
  padding: 10px;
}

@media (min-width: 900px) {  
  header .nav-top {
    height: 40px;

    /* use var */
    font-size: 12px;
  }
  
  header .nav-middle {
    height: 132px;
    
    /* use var */
    font-size: 10px;
  }

  header .nav-middle .columns > div {
    display: flex;
    height: 132px;
  }

  header .nav-middle .columns > div div {
    padding: 24px 12px;
  }

  header .nav-middle .columns > div div:nth-of-type(1) {
    position: unset;
    flex-basis: 30%;
    display: flex;
    align-items: center;
    padding-left: 0;
    padding-right: 24px;
  }

  header .nav-middle .columns > div div:nth-of-type(2) {
    flex-basis: 44%;
  }

  header .nav-middle .columns > div div:nth-of-type(2) p {
    position: unset;
    width: 30%;
    padding: 0 26px 0 15px;
    margin: 0;
  }

  header .nav-middle .columns > div div:nth-of-type(2) ul {
    width: 80%;
  }

  header .nav-middle img {
    width: 100%;
    height: auto;
  }
  
  header nav > div > * {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
  }

  header .nav-middle .columns > div div:nth-of-type(3) {
    width: unset;
    position: unset;
    flex-basis: 169px;
    border-radius: 20px 20px 0 0;
    height: 12px;

    /* use var */
    border-top: 2px solid #17265F;
    border-bottom: none;
    align-self: flex-end;

    /* use var */
    font-size: 22px;
    margin-left: auto;
    background-position: 22px 13px;
    background-size: 25px 21px;
    padding: 18px 21px 16px 3px;
  }
}