/* block specific CSS goes here */

main .hero-container > div {
  max-width: unset;
}

main .hero-container {
  padding: 0;
}

main .hero {
  position: relative;
  padding: 30px 0;
  min-height: 71px;
}

main .hero.home {
  height: 100%;
  border: 1px solid white;
  color: var(--background-color);
  padding: 70px 0;
}

main .hero.home::after {
  content: "";
  background: url('/icons/bg_hero-home-mobile-arrow.png');
  position: absolute;
  background-size: 44px 20px, cover;
  width: 44px;
  height: 20px;
  left: 50%;
  transform: translateX(-50%);
  bottom: -20px;
}

main .hero img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}


main .hero.home .btn-scroll {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10000;
}

main .hero.home .btn-scroll a {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-transform: uppercase;
  font-weight: 500;
  color: var(--color-white)!important;
  font-size: 1rem;
}

main .hero.home .btn-scroll img {
  width: 20px;
  height: 20px;
}

main .hero h1 {
  color: var(--link-color);
  font-size: var(--heading-font-size-xxl);
}

main .hero.home h1 {
  font-size: var(--heading-font-size-xxl-home);
  color: var(--background-color);
}

main .hero.home h2 {
  font-size: var(--body-font-size-xxxs);
}

main .hero.home p {
  font-size: var(--body-font-size-xxs);
}

main .hero.home h1,
main .hero.home h2,
main .hero.home p {
  margin-top: 0;
  margin-bottom: 6px;
}

main .hero.home p:first-of-type {
  font-size: var(--body-font-size-s);
}

main .hero > div:first-of-type picture {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  object-fit: cover;
  box-sizing: border-box;
}

main .hero > div:first-of-type p > picture {
  display: none;
}

main .hero > div:first-of-type p:last-of-type > picture {
  display: block;
}

main .hero > div:nth-of-type(n+2) {
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

main .hero > div:nth-of-type(n+2) div:nth-of-type(2) {
  flex-basis: 136px;
  margin-left: auto;
  transform: translateY(-25px);
}

main .hero > div:nth-of-type(n+2) div:nth-of-type(n+3) {
  display: none;
}

main .hero > div:nth-of-type(n+2) >div:first-of-type:last-of-type {
  max-width: 67%;
}

main .hero > div:nth-of-type(n+2) div:nth-of-type(1):not(:last-of-type) {
  flex-basis: 42%;
}

main .hero > div:nth-of-type(n+2) div:nth-of-type(2) p:nth-of-type(n+2) > picture {
  display: none;
}

@media (min-width: 900px) {
  main .hero {
    min-height: 215px;
  }

  main .hero.home {
    padding: 104px 15px 40px 0;
  }

  main .hero.home h1 {
    padding-right: 60px;
  }

  main .hero div:last-of-type:first-of-type h1 {
    width: 42%;
  }

  main .hero.home h2 {
    font-size: var(--body-font-size-m);
  }

  main .hero.home p {
    font-size: var(--body-font-size-m);
  }

  main .hero.home p:first-of-type {
    font-size: var(--body-font-size-xxxl);
  }

  main .hero > div:first-of-type p:last-of-type > picture {
    display: none;
  }

  main .hero > div:first-of-type p:first-of-type > picture {
    display: block;
  }

  main .hero:not(.home) > div:nth-of-type(n+2) {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }

  main .hero > div:nth-of-type(n+2) div:nth-of-type(2) {
    flex-basis: 340px;
    transform: translateY(15px);
  }

  main .hero > div:nth-of-type(n+2) div:nth-of-type(2) p:nth-of-type(n+2) > picture {
    display: block;
    padding-left: 50px;
  }

  main .hero.home::after {
    background: url('/icons/bg_hero-home-section-2-arrow.png');
    background-size: 44px 20px, cover;
  }

  main .hero.home .btn-scroll img {
    width: 32px;
    height: 32px;
  }

  main .hero.home .btn-scroll a {
    font-size: 1.6rem;
  }
}
