/* block specific CSS goes here */

main .hero-container > div.hero-wrapper {
  max-width: unset;
}

main .hero-container {
  padding: 0;
}

main .hero {
  position: relative;
  padding: 50px 0 10px;
  z-index: 2;
}

@media (min-width: 1800px) {
  .side-effects main .hero {
    padding: 120px 0 50px;
  }
}

.about-copd main .hero {
  background-color: var(--background-grey-4);
}

main .hero.home {
  height: 100%;
  color: var(--background-color);
  padding: 70px 0;
}

main .hero.home::after {
  content: "";
  background: url('/icons/bg_hero-home-mobile-arrow.png');
  position: absolute;
  background-size: 44px 20px, cover;
  width: 44px;
  height: 20px;
  left: 50%;
  transform: translateX(-50%);
  bottom: -20px;
}

main .hero img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.taking-bevespi-aerosphere main .hero img {
  object-position: right;
}

@media (min-width: 400px) {
  .taking-bevespi-aerosphere main .hero img {
    object-position: top;
  } 
}

.getting-started main .hero img,
.copd-resources main .hero img {
  object-fit: fill;
}

@media (min-width: 900px) {
  .getting-started main .hero img,
  .copd-resources main .hero img {
    object-fit: cover;
  }
}

@media (min-width: 1400px) {
  .getting-started main .hero img,
  .copd-resources main .hero img {
    object-fit: fill;
  }
}

@media (min-width: 1600px) {
  .about-copd main .hero img {
    object-fit: fill;
  }
}

main .hero.home .btn-scroll {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

main .hero.home .btn-scroll a {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-transform: uppercase;
  font-weight: 500;
  color: var(--color-white);
  font-size: 1rem;
}

main .hero.home .btn-scroll img {
  width: 20px;
  height: 20px;
}

main .hero h1 {
  font-size: var(--heading-font-size-xxl);
  margin: 0 0 77px;
  line-height: 1;
}

.search main .hero h1,
.contact-us main .hero h1,
.about-copd main .hero h1,
.side-effects main .hero h1 {
  margin: 30px 0 50px;
}

.taking-bevespi-aerosphere main .hero h1 {
  margin-bottom: 50px;
}

@media (min-width: 900px) {
  .search main .hero h1,
  .contact-us main .hero h1 {
    margin: 74px 0;
  }

  .about-copd main .hero h1 {
    margin-top: 62px;
    margin-bottom: 110px;
  }

  .taking-bevespi-aerosphere main .hero h1 {
    margin: 30px 0 50px;
  }
  
}

main .hero.home h1,
main .hero.home h2 {
  color: var(--background-color);
  line-height: 1;
}

main .hero.home h1 {
  font-size: var(--heading-font-size-xxl-home);
  margin-bottom: 0;
}

main .hero.home h2 {
  font-size: var(--body-font-size-xxxs);
}

main .hero.home p {
  margin-top: 0;
  margin-bottom: 6px;
  font-size: var(--body-font-size-xxs);
}

main .hero.home p:first-of-type {
  font-size: var(--body-font-size-s);
}

main .hero > div:first-of-type picture {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  object-fit: cover;
  box-sizing: border-box;
}

main .hero > div:first-of-type p > picture {
  display: none;
}

.faq main .hero > div:first-of-type picture {
  left: -100px;
}

@media (min-width: 600px) {
  .faq main .hero > div:first-of-type picture {
    left: 0;
  } 
}

main .hero > div:first-of-type p:last-of-type > picture {
  display: block;
}

.getting-started .hero > div:first-of-type p:last-of-type > picture,
.copd-resources .hero > div:first-of-type p:last-of-type > picture {
  height: 100%;
}

main .hero > div:nth-of-type(n+2) {
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

main .hero > div:nth-of-type(n+2) div:first-of-type {
  max-width: 270px;
}

main .hero > div:nth-of-type(n+2) div:nth-of-type(2) {
  margin-left: auto;
  position: absolute;
  top: 10px;
  right: 10px;
}

main .hero > div:nth-of-type(n+2) div:nth-of-type(2) p {
  width: 136px;
}

main .hero > div:nth-of-type(n+2) div:nth-of-type(n+3) {
  display: none;
}

main .hero > div:nth-of-type(n+2) >div:first-of-type:last-of-type {
  max-width: 67%;
}

main .hero > div:nth-of-type(n+2) div:nth-of-type(2) p:nth-of-type(n+2) > picture {
  display: none;
}

@media (min-width: 900px) {
  main .hero.home {
    padding: 95px 15px 60px 0;
  }

  main .hero.home h1 {
    padding-right: 60px;
    padding-bottom: 7px;
  }

  main .hero.home h2 {
    font-size: var(--body-font-size-m);
    margin-bottom: 10px;
    margin-top: 0;
  }

  main .hero.home p {
    font-size: var(--body-font-size-m);
  }

  main .hero.home p:first-of-type {
    font-size: var(--body-font-size-xxxl);
  }

  main .hero > div:first-of-type p:last-of-type > picture {
    display: none;
  }

  main .hero > div:first-of-type p:first-of-type > picture {
    display: block;
  }

  main .hero:not(.home) > div:nth-of-type(n+2) {
    max-width: var(--page-max-width);
    margin-left: auto;
    margin-right: auto;
  }
  

  main .hero > div:nth-of-type(n+2) div:nth-of-type(2) {
    flex-basis: 340px;
    transform: translateY(15px);
    position: initial;
  }

  main .hero > div:nth-of-type(n+2) div:nth-of-type(2) p {
    width: unset;
  }

  main .hero > div:nth-of-type(n+2) div:first-of-type {
    max-width: unset;
  }

  main .hero > div:nth-of-type(n+2) div:nth-of-type(1):not(:last-of-type) {
    flex-basis: 44%;
  }

  main .hero > div:nth-of-type(n+2) div:nth-of-type(2) p:nth-of-type(n+2) > picture {
    display: block;
    padding-left: 50px;
  }

  main .hero.home::after {
    background: url('/icons/bg_hero-home-section-2-arrow.png');
    background-size: 44px 20px, cover;
  }

  main .hero.home .btn-scroll img {
    width: 32px;
    height: 32px;
  }

  main .hero.home .btn-scroll a {
    font-size: var(--body-font-size-m);
  }
}

@media (min-width: 1200px) {
  main .hero.home h1 {
    padding-right: 90px;
  }

  main .hero.home p:last-of-type {
    padding-right: 60px;
    margin-bottom: 0;
  }

  main .hero.home h2:last-of-type {
    padding-right: 60px;
  }

  main .hero > div:nth-of-type(n+2) div:nth-of-type(2) p:last-of-type {
    width: 100%;
  }
}
