/* block specific CSS goes here */

main .hero-container > div {
  max-width: unset;
}
  
main .hero-container {
  padding: 0;
}
  
main .hero {
  position: relative;
  padding: 40px 0;
  min-height: 4.4375rem;
}

main .hero.home {
  color: var(--background-color);
}

main .hero h1 {
  color: var(--link-color);
  font-size: var(--heading-font-size-xxl);
}

main .hero.home h1 {
  font-size: var(--heading-font-size-xxl-home);
  color: var(--background-color);
}

main .hero.home h2 {
  font-size: var(--body-font-size-xxxs);
}

main .hero.home p {
  font-size: var(--body-font-size-xxs);
}

main .hero.home h1,
main .hero.home h2,
main .hero.home p {
  margin-top: 0;
  margin-bottom: 6px;
}

main .hero.home p:first-of-type {
  font-size: var(--body-font-size-s);
}

main .hero > div:first-of-type picture {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  object-fit: cover;
  box-sizing: border-box;
}

main .hero > div:first-of-type p > picture {
  display: none;
}

main .hero > div:first-of-type p:last-of-type > picture {
  display: block;
}

main .hero img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

main .hero > div:nth-of-type(n+2) {
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

main .hero:not(.home) > div:nth-of-type(n+2) {
  max-width: 1200px;
}

main .hero > div:nth-of-type(n+2) div:nth-of-type(2) {
  flex-basis: 136px;
  margin-left: auto;
  transform: translateY(-25px);
}

main .hero > div:nth-of-type(n+2) div:nth-of-type(n+3) {
  display: none;
}

main .hero > div:nth-of-type(n+2) div:nth-of-type(1):not(:last-of-type) {
  flex-basis: 42%;
}

main .hero > div:nth-of-type(n+2) div:nth-of-type(2) p:nth-of-type(n+2) > picture {
  display: none;
}

@media (min-width: 56.25rem) {
  main .hero {
    min-height: 13.4375rem;
  }

  main .hero.home {
    padding: 110px 0 40px;
  }

  main .hero div:last-of-type:first-of-type h1 {
    width: 42%;
  }

  main .hero.home h2 {
    font-size: var(--body-font-size-m);
  }
  
  main .hero.home p {
    font-size: var(--body-font-size-m);
  }

  main .hero.home p:first-of-type {
    font-size: var(--body-font-size-xxxl);
  }
  
  main .hero > div:first-of-type p:last-of-type > picture {
    display: none;
  }

  main .hero > div:first-of-type p:first-of-type > picture {
    display: block;
  }

  main .hero > div:nth-of-type(n+2) div:nth-of-type(2) {
    flex-basis: 340px;
    transform: translateY(0);
  }

  main .hero > div:nth-of-type(n+2) div:nth-of-type(2) p:nth-of-type(n+2) > picture {
    display: block;
  }
}
