main .section.accordion-1-container {
  padding: 0;
}

main .section div.accordion-1-wrapper {
  max-width: unset;
}

.accordion-1,
.accordion-1 h2,
.accordion-1 a.button:any-link {
  font-size: var(--body-font-size-s);
}

.accordion-1 h2 {
  color: var(--text-pink);
  margin: 14px 0;
  font-weight: 500;
}

.accordion-1 a.button:any-link {
  font-weight: var(--font-weight-bold);
  margin: 0;
}

.accordion-1 ul {
  padding-left: 16px;
  margin: 0;
}

.accordion-1 li {
  margin: 12px 0;
}

.accordion-1 li ul {
  margin: 0;
}

.accordion-1 li ul li {
  margin: 8px 0;
}

@media (min-width: 900px) {
  .accordion-1,
  .accordion-1 h2,
  .accordion-1 a.button:any-link {
    font-size: var(--body-font-size-m);
  }
}

.accordion-row > div {
  padding: 12px;
  max-width: var(--page-max-width);
  margin: auto;
  display: grid;
  grid-template-columns: 67px auto;
  grid-auto-rows: auto;
  gap: 0;
}

.accordion-row > div > span {
  display: inline-block;
  flex: 0 0 40px;
  content: "";
  width: 40px;
  height: 40px;
  background: url('../../icons/icon_accrdn-arr-dwn.png') no-repeat;
  background-size: cover;
  cursor: pointer;
}

.accordion-row > div > span:first-child {
  grid-column: 1;
  grid-row: 1;
  align-self: center;
}

.accordion-row > div > h2:first-of-type {
  grid-column: 2;
  grid-row: 1;
  align-self: center;
}

.accordion-row > div > *:nth-child(n+3) {
  grid-column: 1 / 3;
  grid-row: auto;
}

@media (min-width: 900px) {
  .accordion-row > div > *:nth-child(n+3) {
    grid-column: 2;
  }

  .accordion-row > div {
    grid-template-columns: 53px auto;
  }
}

.accordion-row:nth-of-type(odd) {
  background-color: var(--color-grey-7);
}

.accordion-row:nth-of-type(even) {
  background-color: var(--background-grey-4);
}

.accordion-row.active > div > span {
  background-image: url('../../icons/icon_accrdn-arr-up.png');
}

.accordion-row:not(.active) > div > *:nth-child(n+3) {
  display: none;
}

.accordion-1 .button-container a {
  border: 0;
  background: none;
  text-transform: none;
  padding: 0;
}

.accordion-1 .button-container a::after {
  content: "";
  width: 17px;
  height: 17px;
  background: url('../../icons/icon_pink-arrow-right-md.png') no-repeat;
  background-size: cover;
  margin-left: 10px;
}