.block.copd-causes {
    background: unset;
    padding: 14px;
    margin: auto;
    display: grid;
    gap: 0;
    align-items: end;
    justify-content: center;
    max-width: 1000px;
    grid-auto-rows: minmax(110px, auto);
}

.block.copd-causes > div {
    display: grid;
    grid-template-columns: 68px 1fr;
    grid-template-rows: repeat(2, 1fr);
}

.block.copd-causes > div > div:first-child {
    grid-row: 1 / 3;
    grid-column: 1;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.block.copd-causes > div > div:nth-child(2) {
    grid-row: 1;
    grid-column: 2;
}

.block.copd-causes > div > div:nth-child(2) h2 {
    display: inline;
    font-size: 1.7rem;
    font-weight: 400;
}

.block.copd-causes > div > div:nth-child(2) em::before {
    content: "|\00a0\00a0";
}

.block.copd-causes > div > div:nth-child(2) em {
    font-size: 1.4rem;
}

.block.copd-causes > div > div:nth-child(3) {
    grid-row: 2;
    grid-column: 2;
    font-size: 1.4rem;
    font-weight: 400;
    padding-bottom: 20px;
}

.block.copd-causes > div:not(:last-child) > div:nth-child(3) {
    border-bottom: 1px solid #ccc;
}

@media (min-width: 900px) {
    .block.copd-causes > div {
        display: table;
        gap: 0;
        padding: 0;
        margin-bottom: 0;
    }

    .block.copd-causes > div > div,
    .block.copd-causes > div > div:first-child {
        display: table-cell;
        vertical-align: middle;
        padding: 20px 0;
        grid-row: unset;
        grid-column: unset;
        flex-direction: unset;
    }

    .block.copd-causes > div > div:first-child {
        display: flex;
        flex-direction: column;
        width: 95px;
        border-bottom: 3px solid transparent;
    }

    .block.copd-causes > div > div:first-child img {
        height: 72px;
        width: 72px;
    }

    .block.copd-causes > div > div:nth-child(2) {
        padding-top: 8px;
        padding-right: 10px;
        text-transform: uppercase;
    }

    .block.copd-causes > div > div:nth-child(2) h2 {
        display: block;
        font-weight: 400;
        font-size: 2.4rem;
        width: 195px;
    }

    .block.copd-causes > div > div:nth-child(3) {
        display: table-cell;
        vertical-align: middle;
        font-size: 1.8rem;
    }

    .block.copd-causes > div > div:not(:first-child),
    .block.copd-causes > div:not(:last-child) > div:nth-child(3){
        border-bottom: 3px solid #f6f6f6;
    }

    .block.copd-causes > div > div:nth-child(3) em {
        display: table;
    }
}
