footer {
    background-color: var(--overlay-background-color);
    font-size: var(--body-font-size-s);
    display: flex;
    justify-content: center;
}

footer .footer {
    width: 100%;
    max-width: var(--page-max-width);
    padding: 12px;
}

footer .footer p {
    margin: 0;
}

footer .footer > div > div {
    margin-top: 28px;
    display: grid;
}

footer .footer > div > div > ul {
    display: grid;
    list-style: none;
    justify-content: left;
    align-items: center;
    grid-template-rows: auto;
    gap: 6px;
    margin-block: 0;
    padding-inline: 0;
    margin-bottom: 28px;
}

footer .footer > div > div > p {
    font-size: 12px;
}

footer .footer > div > div > p:last-child img {
    width: 94px;
    height: 23px;
    margin-top: 40px;
}

footer .footer > div ul > li {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    justify-content: left;
    height: 23px;
    align-items: center;
    column-gap: 5px;
    font-size: 1.2rem;
    white-space: nowrap;
}

@media (min-width: 900px) {
    footer .footer > div > div > ul {
        display: flex;
        justify-content: space-between;
    }

    footer .footer > div > div > p {
        font-size: inherit;
        font-weight: 400;
        justify-content: center;
    }

    footer .footer {
        padding: 32px;
    }

    footer .footer > div ul > li {
        justify-content: center;
        font-size: 1.2rem;
        font-weight: 400;
    }

    footer .footer > div > div > p:last-child img {
        width: 141px;
        height: 34px;
    }
}
