main .section.hero-container + .section.search-results-container {
    padding-top: 70px;
}

main .search-results {
    padding: 0;
    font-size: var(--body-font-size-s);
}

@media (min-width:900px) {
    main .search-results {
        font-size: var(--body-font-size-m);
    }
}

main .search-results strong {
    font-weight: 500;
}

main .search-results .search-result-pagename {
    margin-bottom: 10px;
}

main .search-results .search-result-pagename a {
    font-weight: 500;
    text-decoration: none;
    color: inherit;
}

main .search-results .search-result-pagename a:hover {
    font-weight: inherit;
}

main .search-results .search-result-pagename a:focus {
    outline-color: var(--cta-color);
}

main .search-results .search-result-abstract {
    margin-bottom: 25px;
    margin-top: 0;
}

main .paginationitems {
    list-style: none;
    padding-inline-start: 0;
    margin: 32px 0;
}

main .paginationitems .nav-arrow img {
    width: 10px;
    height: 12px;
}

main .paginationitems > li {
    float: left;
    margin-right: 16px;
    text-decoration: none;
    width: 16px;
}

main .search-results li:focus {
    outline-color: var(--cta-color);
}

main .paginationitems > li.active-page {
    font-weight: 500;
}

main .paginationitems > li:not(.active-page) {
    cursor: pointer;
}

main .search-form {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    margin-right: 60px;
}

main #search, main #search-button {
    border: 2px solid var(--cta-color);
    border-radius: 0;
    height: 44px;
    margin-top: 0;
}

main input#search {
    border-right: none;
    margin: 0;
    padding-left: 18px;
    outline: none;
}

main #search-button {
    background: white none;
    width: 44px;
    padding: 0;
    border-left: 0;
}

@media (min-width: 900px) {
    main #search-button {
        width: 250px;
        height: 54px;
        border-left: 2px solid var(--cta-color);
    }

    main input#search {
        height: 54px;
    }
}

main #search-button:focus {
    border-width: 3px;
    outline-color: var(--cta-color);
}

main #search-button img {
    width: 23px;
    height: 23px;
    vertical-align: middle;
    margin-left: 21px;
}

main #search-button::after {
    background-image: url('../../images/magnify-glass.png');
    width: 23px;
    height: 23px;
}

main #search-button span {
    display: none;
}

@media (min-width: 900px) {
    main #search-button span {
        color: var(--cta-color);
        font-size: 1.6rem;
        font-weight: 400;
        display: block;
        margin-left: 40px;
    }

    main #search-button::after {
        display: none;
    }
}

.title-container {
    border-bottom: 1px solid #ccc;
    padding-bottom: 20px;
    margin-bottom: 25px;
    margin-top: 30px;
}

@media (min-width: 900px) {
    .title-container {
        border: 0;
        margin-bottom: 10px;
    }
}
