main .search-results {
    padding: 0;
    margin-bottom: 80px;
}

main .paginationitems {
    list-style: none;
    padding-inline-start: 0;
    margin: 32px 0;
}

main .paginationitems > li {
    float: left;
    margin-right: 1em;
    text-decoration: none;
    width: 16px;
}

main .paginationitems > li.active-page {
    font-weight: bold;
}

main .paginationitems > li:not(.active-page) {
    cursor: pointer;
}

main .search-form {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

main #search, main #search-button {
    border: 2px solid #e81b75;
    border-radius: 0;
    height: 54px;
}

main input#search {
    margin: 0;
    width: 72%;
    padding-left: 18px;
    outline: none;
}

main #search-button {
    background: white none;
    width: 190px
}

main #search-button:hover {
    border-width: 3px;
}

main #search-button > span {
    color: #e81b75;
}

main #search-button img {
    width: 23px;
    height: 23px;
    vertical-align: middle;
    margin-left: 21px;
}
