/*
 * Copyright 2020 Adobe. All rights reserved.
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */

:root {
    /* colors */
    --link-color: #172660;
    --link-hover-color: #23527c;
    --link-hover-color-2: #f03285;
    --overlay-background-color: #eee;
    --highlight-background-color: #ccc;
    --background-grey-1: #ededed;
    --background-grey-2: #dcdcdc;
    --background-grey-3: #bebebe;
    --background-grey-4: #f6f6f6;
    --background-grey-5: #f2f2f2;
    --background-blue-1: #172660;
    --color-white: #fff;
    --color-grey-5: #ccc;
    --color-grey-6: #b3b7c9;
    --color-grey-7: #e9ebec;
    --color-grey-8: #fff6f6;
    --background-color: var(--color-white);
    --text-orange: #8F440A;
    --text-orange-light: #f58321;
    --text-pink: #820D40;
    --text-color: #282828;
    --text-color-grey-1: #585858;
    --color-blue-1: #273670;
    --color-blue-2: #17265F;
    --cta-color: #e81b75;
    --color-green: #91d8ca;
    --color-gray: #dedede;
    --color-purple: #3c3463;
    --color-purple-light: #624b7e;
    --color-purple-med: #493b67;
    --color-gray-message-background: #383838;
    --sticky-fragment-header-color: #0f1d53;


    /* fonts */
    --body-font-family: gotham, gotham-fallback-body;
    --heading-font-family: gotham, gotham-fallback-heading;
    --proximanova-font-family: proxima-nova, serif;
    --gotham-light-font-family: gotham-light;
    --fixed-font-family: var(--body-font-family);

    /* body sizes */
    --body-font-size-xxxl: 2.4rem;
    --body-font-size-xxl: 2.2rem;
    --body-font-size-xl: 2.0rem;
    --body-font-size-l: 1.8rem;
    --body-font-size-m: 1.6rem;
    --body-font-size-m-isi-fragment: 1.5rem;
    --body-font-size-s: 1.4rem;
    --body-font-size-s-isi-fragment: 1.3rem;
    --body-font-size-xs: 1.2rem;
    --body-font-size-xxs: 1rem;
    --body-font-size-xxxs: .9rem;
    --body-font-size-xxxxs: .8rem;

    /* heading sizes */
    --heading-font-size-xxl-home: 2rem;
    --heading-font-size-xxl: 2.3rem;
    --heading-font-size-xl: 4.2rem;
    --heading-font-size-l: 2rem;
    --heading-font-size-ml: 1.8rem;
    --heading-font-size-m: 1.5rem;
    --heading-font-size-s: 1.4rem;
    --heading-font-size-xs: 1.4rem;

    /* nav height */
    --nav-height: 190px;

    /* page max width */
    --page-max-width: 1002px;

    /* specific font sizes */
    --link-font-size: 1.2rem;
    --link-font-weight: 500;
    --link-font-weight-hover: bold;

    /* font weights */
    --font-weight-thin: 300;
    --font-weight-regular: 400;
    --font-weight-bold: 500;
    --font-weight-bolder: 600;
    --font-weight-boldest: 700;
    --font-weight-heavy: 900;

}

/* most relevant fonts (others in fonts.css */

@font-face {
    font-family: gotham;
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('../fonts/gotham-book.woff2') format('woff2');
}

@font-face {
    font-family: gotham;
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url('../fonts/gotham-medium.woff2') format('woff2');
}

/* fallback fonts for reduced layout shift */

/* black */
@font-face {
    font-family: gotham-fallback;
    font-style: normal;
    font-weight: var(--font-weight-boldest);
    src: local('Arial');
    ascent-override: 68.65%;
    descent-override: 17.16%;
    line-gap-override: 17.16%;
    size-adjust: 116.54%;
}

/* book */
@font-face {
    font-family: gotham-fallback;
    font-style: normal;
    font-weight: var(--font-weight-regular);
    src: local('Arial');
    ascent-override: 70.47%;
    descent-override: 17.62%;
    line-gap-override: 17.62%;
    size-adjust: 106.1%;
}

/* medium body */
@font-face {
    font-family: gotham-fallback-body;
    font-style: normal;
    font-weight: var(--font-weight-bold);
    src: local('Arial');
    ascent-override: 69.48%;
    descent-override: 17.37%;
    line-gap-override: 17.37%;
    size-adjust: 110%;
}

/* medium heading */
@font-face {
    font-family: gotham-fallback-heading;
    font-style: normal;
    font-weight: var(--font-weight-bold);
    src: local('Arial');
    ascent-override: 69.48%;
    descent-override: 17.37%;
    line-gap-override: 17.37%;
    size-adjust: 95%;
}

@media (min-width: 300px) {
    :root {
        --nav-height: 153px;
    }
}

@media (min-width: 600px) {
    :root {
        --nav-height: 143px;
    }
}

@media (min-width: 900px) {
    :root {
        --heading-font-size-xxl-home: 5rem;
        --heading-font-size-xxl: 4.5rem;
        --heading-font-size-xl: 4.5rem;
        --heading-font-size-l: 2.2rem;
        --heading-font-size-m: 1.7rem;
        --heading-font-size-s: 1.6rem;
        --heading-font-size-xs: 1.6rem;
        --nav-height: 172px;
    }
}

html {
    /* sets root font size to 10px to simplify calculations
       and improve readability */

    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-size: var(--body-font-size-m);
    margin: 0;
    font-family: var(--body-font-family);
    line-height: 1.1;
    color: var(--text-color);
    background-color: var(--background-color);
    display: none;
}

body.appear {
    display: block;
}

main {
    margin-top: 12px;
    overflow-x: hidden;
}

@media (min-width: 900px) {
    main {
        margin-top: 0;
    }
}

header {
    height: var(--nav-height);
}

h1, h2, h3,
h4, h5, h6 {
    font-family: var(--heading-font-family);
    font-weight: var(--font-weight-regular);
    line-height: 1.25;
    margin-top: 1em;
    margin-bottom: .5em;
    scroll-margin: 38px;
    color: var(--link-color);
}

h1 {
    font-size: var(--heading-font-size-xxl)
}

h2 {
    font-size: var(--heading-font-size-xl)
}

h3 {
    font-size: var(--heading-font-size-l)
}

h4 {
    font-size: var(--heading-font-size-m)
}

h5 {
    font-size: var(--heading-font-size-s)
}

h6 {
    font-size: var(--heading-font-size-xs)
}

p, dl, ol, ul, pre, blockquote {
    margin-top: 12px;
    margin-bottom: 12px;
}

p {
    line-height: 1.2;
}

ul {
    padding-inline-start: 13px;
}

hr {
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    border: 0;
    border-bottom: 1px solid var(--overlay-background-color);
}

code, pre, samp {
    font-family: var(--fixed-font-family);
    font-size: var(--body-font-size-s);
}

code, samp {
    padding: .125em;
}

pre {
    overflow: scroll;
}

strong {
    font-weight: 500;
}

main pre {
    background-color: var(--overlay-background-color);
    padding: 1em;
    border-radius: .25em;
    overflow-x: auto;
    white-space: pre;
}

main img {
    max-width: 100%;
}

.columns-row img,
.default-content-wrapper img {
    transform: scale(0.8);
}

@media (min-width: 900px) {
    .columns-row img,
    .default-content-wrapper img {
        transform: scale(1);
    }
}

/* buttons */
a:not(.button):any-link {
    display: inline-block;
    color: var(--link-color);
    text-decoration: none;
    font-weight: var(--link-font-weight);
}

a:not(.button):hover {
    text-decoration: none;
    color: var(--link-hover-color);
    font-weight: var(--link-font-weight-hover);
}

.copd-resources main .button-container a {
    border: 0;
    font-size: var(--body-font-size-s);
    text-transform: none;
    padding: 10px 39px 10px 25px;
}

.copd-treatment .columns .button-container {
    border-top: 1px solid var(--color-grey-5);
    position: absolute;
    bottom: 45px;
    left: 0;
    right: 0;
    margin: 0 12px;
    padding-top: 30px;
    padding-right: 100px;
}

@media (min-width: 900px) {
    .copd-resources main .button-container a {
        margin: 0 auto;
    }

    .copd-treatment .columns .button-container {
        padding-right: unset;
        padding-bottom: 30px;
    }
}

.copd-treatment .columns .button-container a {
    display: unset;
    margin: unset;
    font-weight: 500;
    padding: 0;
    border-radius: unset;
    font-size: var(--body-font-size-s);
    line-height: 16px;
    text-transform: unset;
}

.copd-treatment .columns .button-container a::after {
    content: '';
    width: 20px;
    height: 20px;
    background: url('/icons/icon_pink-arrow-right-md.png') no-repeat;
    background-size: contain;
    display: inline-block;
    position: relative;
}

a.button:any-link, button {
    text-decoration: none;
    display: flex;
    width: fit-content;
    color: var(--cta-color);
    border: 2px solid var(--cta-color);
    align-items: center;
    vertical-align: center;
    font-family: var(--body-font-family);
    text-transform: uppercase;
    font-size: 1.2rem;
    line-height: 1.2rem;
    font-weight: var(--font-weight-bold);
    border-radius: 26px;
    padding: 0 20px;
    height: 30px;
    margin-top: 14px;
}

a.button:any-link::after, button::after {
    content: "";
    width: 17px;
    height: 17px;
    background-size: cover;
    background-image: url('../icons/icon_pink-arrow-right-md.png');
    background-repeat: no-repeat;
    margin-left: 8px;
    transform: translateY(-2px);
}

a.button:hover, a.button:focus, button:hover, button:focus {
    cursor: pointer;
}

.taking-bevespi-aerosphere a.button:any-link {
    font-size: 1.1rem;
}

@media(min-width: 900px) {
    .taking-bevespi-aerosphere a.button:any-link {
        font-size: 1.7rem;
    }
}

button:disabled, button:disabled:hover {
    background-color: var(--overlay-background-color);
    cursor: unset;
}

a.button.secondary, button.secondary {
    background-color: unset;
    border: 0;
    color: var(--cta-color);
    justify-content: space-between;
    position: relative;
    text-transform: unset;
    font-weight: 400;
    font-style: normal;
}

a.button.secondary:any-link {
    padding: 0;
}

a.button.secondary::after, button.secondary::after {
    content: "";
    display: inline-block;
    width: 14px;
    height: 16px;
    margin-left: 10px;
    background-image: url("/icons/icon_pink-arrow-right-md.png");
    background-size: contain;
    background-repeat: no-repeat;
    vertical-align: middle;
}

.default-content-wrapper a:not(.button):any-link {
    color: var(--text-pink);
    font-weight: var(--link-font-weight);
}

main input {
    font-size: 2rem;
    width: 100%;
    max-width: 800px;
    display: block;
    margin-bottom: 16px;
    padding: 12px 9.6px;
    border-radius: 4px;
    box-sizing: border-box;
    border: 1px solid var(--text-color);
    color: var(--text-color);
    background-color: var(--background-color);
}

main input:hover {
    border: 1px solid var(--text-color);
}

main blockquote {
    font-style: italic;
    margin: 48px;
    text-indent: -16px;
    hanging-punctuation: first;
}

main blockquote p::before {
    content: "“";
    line-height: 0;
}

main blockquote p::after {
    content: "”";
    line-height: 0;
}

.icon {
    display: inline-block;
    height: 24px;
    width: 24px;
}

.icon img {
    height: 100%;
    width: 100%;
}

.taking-bevespi-aerosphere .columns-row img {
    transform: scale(1);
}

main .section, .section .reset-spacing {
    padding: 20px 16px;
}

main .section.no-space-bottom {
    padding-bottom: 0;
}

main .section.no-space-bottom + .section {
    padding-top: 0;
}

main .section.grey {
    background-image: url('../images/bg_white-lines-tall-without-top_down-arrow.png');
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
}

main .section.buttons {
    padding-top: 0;
    padding-bottom: 0;
    border-top: 1px solid var(--color-grey-5);
    border-bottom: 1px solid var(--color-grey-5);
}

.home .columns-row img {
    transform: scale(0.57);
}

@media (min-width: 900px) {
    main .section, .section .reset-spacing {
        padding: 30px 32px;
    }

    main .section:nth-last-of-type(2) {
        padding-bottom: 22px;
    }

    .home .columns-row img {
        transform: scale(1);
    }

    .home .columns-row:nth-of-type(2) img {
        transform: scale(1) translate(-105px, -30px);
    }

    .home .columns-row:nth-of-type(4) img {
        transform: scale(1) translate(-63px, 26px);
    }
}

@media (min-width: 900px) {
    .section > div, .section .reset-spacing {
        max-width: var(--page-max-width);
        margin: auto;
    }

    .section .reset-spacing {
        padding-left: 0;
        padding-right: 0;
    }

    a.button:any-link, button {
        font-size: 2rem;
        line-height: 2rem;
        padding: 0 25px;
        height: 35px;
    }

    a.button.secondary:any-link, button.secondary {
        font-size: var(--body-font-size-s);
        font-weight: var(--font-weight-bold);
    }

    a.button.secondary::after, button.secondary::after {
        width: 24px;
        height: 28px;
        margin-left: 10px;
    }
}

.columns-row > div > div {
    align-self: center;
}

.home .columns-row > div {
    padding-bottom: 50px;
}


@media (min-width: 900px) {
    .home .columns-row > div {
        padding-bottom: 80px;
    }

    .home .columns-row > div .columns-img-col {
        max-height: unset !important;
    }

    .home .columns-row > div .columns-img-col > picture > img {
        transform-origin: unset;
    }

    .home .columns-row:nth-of-type(2) > div {
        padding-bottom: 30px;
    }
}

main .section.highlight {
    background-color: var(--highlight-background-color);
}

main .section.highlight-1-container.highlight-2-container {
    padding-bottom: 0;
}

.taking-bevespi-aerosphere main .section.accordion-2-container.video-container {
    padding-top: 40px;
    padding-bottom: 0;
}

main .section.width-m > div,
main .section.width-s > div,
main .section.width-xs > div {
    margin-right: auto;
    margin-left: auto;
}

main .section.width-xs > div {
    max-width: 400px;
}

main .section.width-s > div {
    max-width: 600px;
}

main .section.width-m > div {
    max-width: 830px;
}

/* section metadata - backgrounds */
main .section[data-background] {
    position: relative;
    padding-left: 0;
    padding-right: 0;
}

main .section[data-background] > div {
    padding-left: 16px;
    padding-right: 16px;
}

main .section.accordion-2-container.video-container p {
    padding: 0 12px;
}

@media (min-width: 600px) {
    main .section[data-background] > div {
        padding-left: 32px;
        padding-right: 32px;
    }

    main .section.accordion-2-container.video-container h2 {
        font-size: 4.5rem;
        margin-top: 0;
        padding-left: 0;
    }

    main .section.accordion-2-container.video-container p {
        font-size: var(--body-font-size-m);
    }
}

/* section metadata - text align and color */
main .section.white-text {
    color: white;
}

main .section.white-text h1 {
    color: white;
}

main .section.small-heading h1 {
    font-size: 1.9rem;
    text-transform: uppercase;
}

.breathing-room main .section.small-heading h1 {
    font-size: var(--heading-font-size-m);
}

@media (min-width: 900px) {
    .breathing-room main .section.small-heading h1 {
        font-size: 1.9rem;
    }

    main .section.centered a.button:any-link {
        margin: auto;
    }

    main .section.accordion-2-container.video-container p {
        padding: 0;
    }
}

main .section.green-accent .default-content-wrapper em {
    color: var(--color-green);
    font-style: normal;
    font-weight: 500;
}

main .section.green-accent .default-content-wrapper em u {
    font-family: var(--gotham-light-font-family);
    color: var(--color-white);
    text-decoration: none;
}

main .section.isi {
    font-size: 1.5rem;
    line-height: 1;
}

.what-is-copd h2
{
    font-size: var(--body-font-size-xl);
}

main .section.isi h2 {
    font-size: var(--heading-font-size-s);
    font-weight: 500;
    color: var(--text-orange);
    margin-bottom: 20px;
}

main div:not(.isi) .default-content-wrapper h2 {
    font-size: 2rem;
}

main .section.accordion-2-container.video-container h2 {
    font-size: var(--heading-font-size-xxl);
    padding-left: 12px;
}

.what-is-copd div.boxes.block > div h2 {
    font-size: var(--body-font-size-xl);
}

.copd-stages-page div.boxes.block div h2 {
    margin: 0;
    font-size: 1.4rem;
    line-height: 15px;
    font-weight: 500;
}

main .section.accordion-2-container.video-container .accordion-2 h2 {
    font-size: 1.4rem;
    padding-left: 20px;
}

@media (min-width: 900px) {
    main .section.accordion-2-container.video-container .accordion-2 h2 {
        font-size: 1.8rem;
        padding-left: 0;
    }
}

@media (min-width: 900px) {
    main .section.isi h2 {
        font-size: var(--heading-font-size-ml);
    }
}

main div:not(.isi) li {
    margin-top: 12px;
    margin-bottom: 12px;
}

main .section.isi ul {
    padding: 4px 0 11px 20px;
}

main .section.isi ul li ul {
    padding: 0 0 0 20px;
}

main .section.isi li {
    margin: 8px 0;
}

main .section.isi strong {
    font-weight: 500;
}

/* Separator icon */
main span.icon-separator hr {
    width: 40px;
    border-width: 2px;
}

main .section.image-float-left picture {
    float: left;
    margin-right: 20px;
}

main .section.background-gray {
    background: var(--color-gray-message-background);
}

main .section.small-vertical-margins {
    padding-top: 12px;
    padding-bottom: 12px;
}

@media (min-width: 600px) {
    main .section.font-large .default-content-wrapper {
        font-size: 2.1rem;
    }

    main .section.centered.font-large .default-content-wrapper p {
        padding-left: 80px;
        padding-right: 80px;
    }
}

@media(max-width: 900px) {
    .copd-treatment main .hero {
        padding: 0;
    }

    .copd-treatment main .hero div:first-of-type > div p {
        margin: 0;
    }

    main .hero > div:nth-of-type(n+2) > div h1 {
        margin: 30px 0 50px;
    }
}

.copd-treatment .columns-row {
    position: relative;
    padding-bottom: 125px;
}

.copd-treatment .columns-80-20 .columns-row {
    padding-bottom: unset;
}

.copd-treatment .columns-row:last-of-type {
    margin-bottom: -25px;
}

.copd-treatment .columns-80-20 {
    color: var(--link-color);
    font-size: var(--body-font-size-xl);
}

.copd-treatment .columns-60-40 .columns-img-col {
    order: 3;
}

.home .columns-row > div .columns-img-col {
    max-height: 190px;
}

@media (min-width: 900px) {
    .copd-treatment .columns-60-40 .columns-img-col {
        order: unset;
    }

    .copd-treatment .columns-row {
        position: unset;
        padding-bottom: unset;
    }

    .copd-treatment .columns-row:last-of-type {
        margin-bottom: unset;
    }

    .copd-treatment .columns .button-container {
        position: unset;
        width: unset;
        margin-top: 20px;
    }

    .copd-treatment .columns .button-container a {
        margin-top: 6px;
    }

    .breathing-room main .section span.icon-separator hr {
        display: none;
    }
}

main .section.hero-container + .section {
    padding-top: 32px;
}

.getting-started main .section:nth-of-type(6) {
    background-image: url('../images/bg-section-2.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.copd-resources main .section.hero-container + .section {
    padding-top: 32px;
}

@media (min-width: 900px) {
    .copd-resources main .section.hero-container + .section {
        padding-top: 0;
    }
}

.section.copd-treatment-goals > .default-content-wrapper li{
    margin-top: 5px;
    margin-bottom: 5px;
}

.copd-resources main div:not(.isi) .default-content-wrapper li {
    margin-bottom: 15px;
}

.copd-resources main .section.isi .button-container a::after {
    display: none;
}

.what-is-copd .default-content-wrapper {
    padding: 0 12px;
    max-width: 635px;
    text-align: left;
}

.what-is-copd span.icon-separator hr {
    width: 82%;
}

.section.copd-treatment-intro > .default-content-wrapper,
.section.copd-treatment-goals > .default-content-wrapper,
.section.copd-treatment-options > .default-content-wrapper{
    font-size: 1.4rem;
}

.what-is-copd .default-content-wrapper:first-of-type {
    margin-bottom: 28px;
}

main .section:not(.isi) .default-content-wrapper {
    font-size: var(--body-font-size-s);
}

@media (min-width: 900px) {
    main .section:not(.isi) .default-content-wrapper {
        font-size: var(--body-font-size-m);
    }
}

.copd-resources main div:not(.isi) .default-content-wrapper,
.getting-started main div:not(.isi) .default-content-wrapper {
    line-height: 1.2em;
    font-size: 1.4rem;
}

.section.copd-treatment-goals {
    margin: 0 16px;
    border-top: 1px solid var(--color-grey-5);
    border-bottom: 1px solid var(--color-grey-5);
}

.section > .default-content-wrapper.back-to-top-wrapper {
    content: "";
    min-height: 30px;
    position: relative;
    max-width: 830px;
}

.section > .default-content-wrapper.back-to-top-wrapper > .back-to-top {
    position: absolute;
    right: 0;
    top: 0;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: var(--background-grey-5);
    color: var(--text-orange);
    pointer-events: all;
}

.section > .default-content-wrapper.back-to-top-wrapper > .back-to-top:hover {
    background-color: var(--text-orange);
    color: var(--background-grey-5);
}

.section > .default-content-wrapper.back-to-top-wrapper > .back-to-top::after {
    content: "";
    position: absolute;
    top: 8px;
    left: 12px;
    height: 5px;
    width: 5px;
    border: none;
    border-top: 2px solid var(--text-orange);
    border-left: 2px solid var(--text-orange);
    transform: rotate(45deg);
}

.section > .default-content-wrapper.back-to-top-wrapper > .back-to-top::before {
    content: "TOP";
    position: absolute;
    top: 16px;
    left: 6px;
    font-size: var(--body-font-size-xxxs);
    font-weight: var(--link-font-weight-hover);
}

.section > .default-content-wrapper.back-to-top-wrapper > .back-to-top:hover::after {
    border-color: var(--background-grey-5);
}

.section > .default-content-wrapper.back-to-top-wrapper > .back-to-top:hover::before {
    color: var(--background-grey-5);
}

main .section.zero-space-bottom {
    margin-bottom: 0;
    padding-bottom: 0;
}

@media (min-width: 900px) {
    .copd-causes-container .default-content-wrapper h2 {
        text-align: center;
    }

    main div:not(.isi) .default-content-wrapper h2 {
        font-size: 3.2rem;
    }

    .copd-symptoms-page .default-content-wrapper {
        text-align: center;
    }

    .section.copd-treatment-intro > .default-content-wrapper,
    .section.copd-treatment-goals > .default-content-wrapper,
    .section.copd-treatment-options > .default-content-wrapper {
        width: fit-content;
        margin: auto;
        justify-content: center;
        font-size: 1.6rem;
    }

    .section.copd-treatment-intro > .default-content-wrapper {
        width: 755;
    }

    .section.copd-treatment-intro > .default-content-wrapper strong {
        margin-left: 7px;
        margin-right: 7px;
    }

    .copd-causes-container .default-content-wrapper p,
    .section.accordion-1-container .default-content-wrapper h2 {
        text-align: center;
    }

    .faq .section.accordion-1-container .default-content-wrapper h2 {
        margin-top: 0;
    }

    .copd-resources main .section:not(.isi) .default-content-wrapper {
        width: 750px;
        margin: auto;
    }

    .section.copd-treatment-intro {
        margin: auto;
        max-width: 755px;
        padding: 35px 32px;
    }

    .section.copd-treatment-goals,
    .section.copd-treatment-options {
        margin: auto;
        max-width: 600px;
        padding: 38px 32px;
    }

    .section.copd-treatment-options > .default-content-wrapper p {
        max-width: 600px;
    }

    .section.copd-treatment-goals {
        border-top: 1px solid var(--color-grey-5);
        border-bottom: 1px solid var(--color-grey-5);
    }

    .section.copd-treatment-intro > .default-content-wrapper > *,
    .section.copd-treatment-goals > .default-content-wrapper > *,
    .section.copd-treatment-options > .default-content-wrapper > * {
        text-align: center;
    }


    .section.copd-treatment-goals > .default-content-wrapper ul{
        text-align: left;
    }

    .copd-symptoms-page .copd-symptoms.block {
        max-width: 755px;
        margin: auto;
    }
}

.getting-started main div:not(.isi) .default-content-wrapper ul {
    margin: 0;
    padding: 10px;
}

.getting-started main div:not(.isi) .default-content-wrapper li {
    padding-bottom: 10px;
}

.getting-started main div:not(.isi) .default-content-wrapper p {
    margin: 0 0 10px;
}

.what-is-copd .what-is-copd-infographic .columns-row img{
    aspect-ratio: unset;
    max-width: 401px;
    max-height: 194px;
}

.home .columns-row > div .columns-img-col > picture > img {
    transform-origin: top;
}

.getting-started main div:not(.isi) .default-content-wrapper img {
    transform: scale(0.6);
}

main .section[data-background] picture.section-background-img {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    object-fit: cover;
    z-index: -2;
    overflow: hidden;
}

.breathing-room main .section[data-background] picture.section-background-img {
    background-color: #5B3876;
}

main .section[data-background] picture.section-background-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

main .section.centered {
    text-align: center;
}

main .section.centered .accordion-2 {
    text-align: unset;
}

.breathing-room main .section.information-contact div p {
    font-size: 1.3rem;
}

.copd-stages-page div.boxes.block div p{
    margin-top: 2px;
    height: unset;
    font-size: var(--body-font-size-xs);
    line-height: 12px;
    font-weight: 500;
    color: var(--color-blue-2);
}

main .section.centered p:has(picture:first-child:last-child) {
    text-align: center;
}

.getting-started main div:not(.isi) .default-content-wrapper .button-container + p {
    border-top: 1px solid var(--color-grey-5);
    padding-top: 43px;
}

.breathing-room main .section.tabs-container > div:first-child p:last-of-type {
    font-size: 1.3rem;
    padding: 0 30px;
    margin: 0;
}

.breathing-room main .section.tabs-container div:first-child p:not(:last-of-type) {
    font-size: 1.3rem;
    letter-spacing: 1px;
}

.breathing-room main .section.tabs-container div:first-child p:nth-of-type(2) {
    font-weight: var(--font-weight-bold);
    padding: 0 35px 8px;
    margin-bottom: 0;
}

.breathing-room main .section.tabs-container div:first-child p:not(:first-of-type) {
    margin-top: 0;
}

.breathing-room main .section.information-contact div p picture img {
    min-width: 50px;
}

.section.what-is-copd > div:first-of-type > p:nth-of-type(2) em strong {
    margin-right: -5px;
}

.getting-started main div:not(.isi) .default-content-wrapper p > strong:first-child:last-child {
    font-size: 1.7rem;
    color: var(--link-color);
}

.faq main .section.accordion-1-container:nth-of-type(3) .accordion-row:first-of-type > div > p:first-of-type strong {
    margin-right: -5px;
}

@media (min-width: 600px) {
    .breathing-room main .section.information-contact div p {
        font-size: 1.4rem;
    }
}

@media (min-width: 900px) {
    .breathing-room main .section.information-contact div p {
        font-size: var(--body-font-size-xl);
    }

    .breathing-room main .section.tabs-container div:first-child p:last-of-type {
        padding: 40px 0 20px;
        max-width: unset;
    }

    .breathing-room main .section.tabs-container div:first-child p:not(:last-of-type),
    .breathing-room main .section.tabs-container div:first-child p:last-of-type {
        font-size: 2.1rem;
    }

    main .section[data-background] picture.section-background-img img {
        height: unset;
    }

    .getting-started main div:not(.isi) .default-content-wrapper p > strong:first-child:last-child {
        font-size: 2rem;
    }
}

.getting-started main .section.grey {
    background-color: var(--background-grey-4);
    background-image: none;
}

.getting-started main div:not(.isi) .default-content-wrapper .button-container {
    margin: 25px auto 30px;
    padding-bottom: 15px;
}

.copd-symptoms-page div.default-content-wrapper a:any-link {
    font-weight: 400;
}

.getting-started main div:not(.isi) .default-content-wrapper .button-container a {
    margin: auto;
    font-size: 1.3rem;
}


.what-is-copd {
    font-size: var(--body-font-size-s);
}

.what-is-copd div.boxes.block {
    margin: 12px;
}

.what-is-copd .what-is-copd-infographic .columns-row > div{
    row-gap: 30px;
    padding-top: 10px;
}

.what-is-copd div.boxes.block > div {
    padding: 25px 20px;
}

.what-is-copd .video-embed {
    margin: auto;
    padding: 12px;
    max-width: 645px;
}

.breathing-room main .section.vertical-align-middle > div {
    display: flex;
    align-items: center;
}

.copd-stages-page div.boxes.block {
    margin: 32px 0;
    row-gap: 5px;
}

h1 > br,
h2 > br {
    content:"";
}

.copd-stages-page div.boxes.block div p br{
    display: none;
}

.copd-stages-page div.boxes.block > div{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    background: #f6f6f6;
    margin-right: auto;
    margin-left: auto;
    padding: 15px 0;
}

.copd-stages-page div.copd-stages.block {
    margin: auto;
    max-width: 750px;
    padding: 0 0 20px;
}

@media (min-width: 900px) {
    .what-is-copd h2
    {
        font-size: 3.2rem;
    }

    .what-is-copd div.boxes.block {
        margin: auto;
    }

    .getting-started main div:not(.isi) .default-content-wrapper h2 {
        max-width: 650px;
        margin: 50px auto;
        font-size: 3.2rem;
    }

    .what-is-copd div.boxes.block > div h2 {
        font-size: 3.2rem;
    }

    .copd-stages-page div.boxes-wrapper .boxes.block div h2{
        margin: 0;
        font-size: 2.3rem;
        line-height: 23px;
        font-weight: 500;
    }

    .getting-started main .hero-container + .section .default-content-wrapper > h2:first-of-type {
        margin-top: 0;
        margin-bottom: 22px;
    }

    /* stylelint-disable-next-line */
    #understanding-copdemphysema--chronic-bronchitis {
        margin-bottom: 37px;
    }

    #rescue-maintenance-and-controller-inhalerswhats-the-difference {
        font-size: 2.9rem;
    }

    .what-is-copd .what-is-copd-infographic .columns-row img{
        max-width: unset;
        max-height: unset;
        aspect-ratio: unset;
        width: 401px;
        height: 194px;
    }

    .what-is-copd {
        font-size: var(--body-font-size-m);
    }

    .getting-started main div:not(.isi) .default-content-wrapper img {
        transform: scale(1);
    }

    .getting-started main .section.inhaler {
        position: relative;
        padding-bottom: 120px;
    }

    .what-is-copd .default-content-wrapper {
        padding: 0 12px;
        text-align: center;
        max-width: 635px;
    }

    .what-is-copd .default-content-wrapper:first-of-type {
        margin-bottom: 40px;
    }

    .what-is-copd > .default-content-wrapper:nth-last-of-type(2) {
        max-width: 800px;
    }

    .what-is-copd .boxes {
        max-width: 830px;
    }

    .what-is-copd div.boxes.block > div {
        padding: 30px 35px;
    }

    .what-is-copd-infographic {
        margin: auto;
        max-width: 875px;
    }

    .getting-started .section.section.inhaler::before,
    .getting-started .section.section.inhaler::after {
        display: block;
        content: " ";
        width: 200px;
        height: 1px;
        border-top: 1px solid var(--color-grey-5);
        position: absolute;
        left: calc(50% - 100px);
    }

    .getting-started .section.section.inhaler::before {
        transform: translateY(-40px);
    }

    .getting-started .section.section.inhaler::after {
        transform: translateY(130px);
    }

    .getting-started main .section.inhaler .default-content-wrapper {
        max-width: 460px;
        margin: auto;
    }

    .getting-started main .section.inhaler img:first-of-type {
        position: absolute;
        right: calc(50% - 380px);
        top: 1px;
    }

    .getting-started main div:not(.isi) .default-content-wrapper .button-container {
        max-width: 250px;
    }

    .copd-stages-page div.default-content-wrapper ul{
        text-align: left;
        font-size: var(--body-font-size-m);
    }

    .getting-started main div:not(.isi) .default-content-wrapper ul {
        text-align: left;
        max-width: 400px;
        margin: auto;
    }

    .copd-stages-page div.default-content-wrapper {
        text-align: center;
        max-width: 750px;
    }

    .copd-stages-page div.default-content-wrapper p{
        font-size: var(--body-font-size-m);
    }

    .copd-stages-page div.boxes-wrapper .boxes.block {
        max-width: 850px;
        row-gap: 10px;
        margin: 40px auto 20px;
    }

    .copd-stages-page div.boxes-wrapper .boxes.block div p{
        margin-top: 6px;
        font-size: var(--body-font-size-m);
        font-weight: 500;
    }

    .copd-stages-page div.copd-stages.block > div {
        height: 72px;
        margin-top: 0;
    }

    .copd-stages-page div.copd-stages.block > div > div {
        padding-top: 8px;
        padding-bottom: 8px;
    }

    .copd-symptoms-page div.default-content-wrapper {
        font-size: var(--body-font-size-m)!important;
        max-width: 770px;
        margin-bottom: 30px;
    }

    .copd-symptoms-page > div.default-content-wrapper:first-of-type {
        max-width: unset;
    }

    .copd-symptoms-page .icon-highlight {
        margin: auto;
    }
}

@media (min-width: 900px) {
    .home main .columns-row:nth-of-type(2) > div > div:nth-of-type(1) {
        flex-basis: 40%;
    }

    .home main .columns-row:nth-of-type(2) > div > div:nth-of-type(2) {
        flex-basis: 60%;
    }

    .home main .columns h2 {
        max-width: 500px;
    }

    .columns.inhaler-x-ray .columns-row:first-of-type .columns-col:nth-of-type(1) {
        flex-basis: 60%;
    }

    .columns.inhaler-x-ray .columns-row:first-of-type .columns-col:nth-of-type(2) {
        flex-basis: 40%;
    }

    .columns.inhaler-x-ray .columns-row:first-of-type .columns-col:nth-of-type(2) svg {
        transform: translateY(-22px);
    }

    .side-effects main .section.hero-container + .section .default-content-wrapper:first-of-type * {
        max-width: 870px;
        margin-left: 0;
        font-size: var(--body-font-size-m);
    }
}

h1 > br::after,
h2 > br::after {
    content: " ";
}

@media (min-width: 900px) {
    h1 > br,
    h1 > br::after,
    h2 > br,
    h2 > br::after {
        content: unset;
    }
}

.about-copd .section.isi {
    padding-top: 0;
}

.hero.block.contact-us-downarrow::after,
.hero.block.how-to-use-bevespi-inhaler-downarrow::after,
.hero.block.bevespi-side-effects-downarrow::after,
.taking-bevespi-aerosphere main .section.accordion-2-container::after,
.hero.block.copd-treatment-downarrow::after {
    display: block;
    content: " ";
    width: 43px;
    height: 20px;
    background-repeat: no-repeat;
    background-size: 43px 20px;
    position: relative;
    left: calc(50% - 22px);
    bottom: -20px;
}

.hero.block.copd-treatment-downarrow::after {
    background-image: url('../images/how-section-2-downarrow-mobile.png');
}

.hero.block.how-to-use-bevespi-inhaler-downarrow::after {
    background-image: url('../icons/bg_hero-taking-mobile_2.png');
    bottom: -29px;
}

.taking-bevespi-aerosphere main .section.accordion-2-container::after {
    background-image: url('../images/how-section-4-down-arrow-grey.png');
}

.home .section:nth-of-type(2) .columns-row:nth-of-type(2) h2 {
    margin-bottom: 0;
}

.taking-bevespi-aerosphere main .section.columns-container .columns-row .columns-col h2 {
    margin-top: 0;
}

@media (min-width: 900px) {
    .taking-bevespi-aerosphere .columns-col:first-of-type {
        padding-left: 15px;
        padding-right: 65px;
    }

    .taking-bevespi-aerosphere .columns-col:first-of-type > p{
        margin-bottom: 20px;
    }

    .home .columns-container:nth-of-type(2) .columns-row:first-of-type .columns-col:first-of-type {
        flex: 0 0 560px;
    }

    .copd-treatment .columns-container:nth-of-type(2) .columns-wrapper:first-of-type .columns-row:first-of-type .columns-col:nth-of-type(2) p:nth-of-type(2) {
        font-size: 1.6rem;
    }

    .hero.block.contact-us-downarrow::after,
    .hero.block.bevespi-side-effects-downarrow::after,
    .taking-bevespi-aerosphere main .section.accordion-2-container::after {
        bottom: -29px;
    }

    .hero.block.contact-us-downarrow::after {
        background-image: url('../images/sitemap-section-2-downarrow.png');
    }

    .hero.block.how-to-use-bevespi-inhaler-downarrow::after {
        background-image: url('../images/bg_hero-taking_2.png');
    }

    .hero.block.bevespi-side-effects-downarrow::after {
        background-image: url('../images/side-effect-section-2-downarrow.png');
    }

    .taking-bevespi-aerosphere main .section.accordion-2-container::after {
        transform: translateY(-9px);
    }

    .hero.block.copd-treatment-downarrow::after {
        display: none;
    }
}

.home .section:nth-of-type(2) .columns-row:nth-of-type(2) p.button-container,
.home .section:nth-of-type(2) .columns-row:nth-of-type(4) p.button-container {
    max-width: 325px;
}

.home .section:nth-of-type(2) .columns-row:nth-of-type(2) p.button-container {
    margin-top: 10px;
}

div.section:nth-of-type(2) {
    padding-bottom: 0;
}

.contact-us main h2#important-safety-information {
    margin-top: 0;
}

.taking-bevespi-aerosphere main .section.video-container > div.default-content-wrapper:nth-of-type(3) {
    margin-bottom: 50px;
}

@media (min-width: 900px) {
    .copd-resources main .section.related-links-container .default-content-wrapper .button-container {
        border: 1px solid #ccc;
        border-left: 0;
        border-right: 0;
        padding-top: 15px;
        padding-bottom: 15px;
        margin: 35px 0;
    }

    .side-effects main .section.accordion-1-container + .section > div.default-content-wrapper:first-of-type .button-container,
    .side-effects main .section.accordion-1-container + .section > div.default-content-wrapper:first-of-type .button-container a {
        margin: 0;
    }

    .taking-bevespi-aerosphere main .section:nth-of-type(2) .columns-row:first-of-type {
        padding-bottom: 0;
    }

    .taking-bevespi-aerosphere main .section.highlight-1-container {
        margin-top: -53px;
    }

    .taking-bevespi-aerosphere main .section.highlight-1-container > div:first-of-type > p:first-of-type {
        transform: translateY(-20px);
    }

    .taking-bevespi-aerosphere main .section.video-container > div.default-content-wrapper:first-of-type {
        text-align: center;
    }

    .taking-bevespi-aerosphere main .section.video-container > div.default-content-wrapper:nth-of-type(3) {
        max-width: 855px;
    }

    .taking-bevespi-aerosphere .accordion-2-wrapper + .columns-wrapper .columns-row:first-of-type > div:first-of-type {
        padding-top: 20px;
        padding-bottom: 5px;
    }

    .taking-bevespi-aerosphere .accordion-2-container + .columns-container .columns-row:first-child > div:first-child {
        padding-top: 48px;
    }

    .side-effects main .next.block .next-small {
        width: 121px;
    }

    .taking-bevespi-aerosphere main .next.block .next-small {
        width: 115px;
    }

    @media (min-width: 1400px) {
        .copd-resources main .hero.block picture,
        .getting-started main .hero.block picture {
            top: unset;
        }
    }

    .getting-started main .hero.block h1 {
        margin: 30px 0 113px;
    }

    .copd-resources main .hero.block h1 {
        margin: 30px 0 83px;
    }

    .copd-resources main .default-content-wrapper ul {
        padding-left: 45px;
    }

    .contact-us main .section.hero-container + .section {
        padding-top: 55px;
        padding-bottom: 0;
    }
}

.getting-started main .section.hero-container + .section {
    background-image: url('../images/bg-section-2.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: 0 180px;
    padding-bottom: 673px;
}

.getting-started main .section.hero-container + .section + .section {
    margin-top: -673px;
}
