/*
 * Copyright 2020 Adobe. All rights reserved.
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */

:root {
    /* colors */
    --link-color: #172660;
    --link-hover-color: #23527c;
    --link-hover-color-2: #f03285;
    --overlay-background-color: #eee;
    --highlight-background-color: #ccc;
    --background-grey-1: #ededed;
    --background-grey-2: #dcdcdc;
    --background-grey-3: #bebebe;
    --background-grey-4: #f6f6f6;
    --background-blue-1: #172660;
    --color-white: #fff;
    --color-grey-5: #ccc;
    --color-grey-6: #b3b7c9;
    --background-color: var(--color-white);
    --text-orange: #8F440A;
    --text-orange-light: #f58321;
    --text-pink: #820D40;
    --text-color: #282828;
    --text-color-grey-1: #585858;
    --color-blue-1: #273670;
    --color-blue-2: #17265F;
    --cta-color: #e81b75;
    --sticky-fragment-header-color: #0f1d53;


    /* fonts */
    --body-font-family: gotham, gotham-fallback;
    --heading-font-family: var(--body-font-family);
    --fixed-font-family: var(--body-font-family);

    /* body sizes */
    --body-font-size-xxxl: 2.4rem;
    --body-font-size-xxl: 2.2rem;
    --body-font-size-xl: 2.0rem;
    --body-font-size-l: 1.8rem;
    --body-font-size-m: 1.6rem;
    --body-font-size-m-isi-fragment: 1.5rem;
    --body-font-size-s: 1.4rem;
    --body-font-size-s-isi-fragment: 1.3rem;
    --body-font-size-xs: 1.2rem;
    --body-font-size-xxs: 1rem;
    --body-font-size-xxxs: .9rem;
    --body-font-size-xxxxs: .8rem;

    /* heading sizes */
    --heading-font-size-xxl-home: 2rem;
    --heading-font-size-xxl: 2.3rem;
    --heading-font-size-xl: 4.2rem;
    --heading-font-size-l: 2rem;
    --heading-font-size-ml: 1.8rem;
    --heading-font-size-m: 1.5rem;
    --heading-font-size-s: 1.4rem;
    --heading-font-size-xs: 1.4rem;

    /* nav height */
    --nav-height: 143px;

    /* page max width */
    --page-max-width: 1200px;

    /* specific font sizes */
    --link-font-size: 1.2rem;
    --link-font-weight: 500;
    --link-font-weight-hover: bold;

    /* font weights */
    --font-weight-thin: 300;
    --font-weight-regular: 400;
    --font-weight-bold: 500;
    --font-weight-bolder: 600;
    --font-weight-boldest: 700;
    --font-weight-heavy: 900;

}

/* fallback fonts for reduced layout shift */

/* black */
@font-face {
    font-family: gotham-fallback;
    font-style: normal;
    font-weight: var(--font-weight-boldest);
    src: local('Arial');
    ascent-override: 68.65%;
    descent-override: 17.16%;
    line-gap-override: 17.16%;
    size-adjust: 116.54%;
}

/* book */
@font-face {
    font-family: gotham-fallback;
    font-style: normal;
    font-weight: var(--font-weight-regular);
    src: local('Arial');
    ascent-override: 70.47%;
    descent-override: 17.62%;
    line-gap-override: 17.62%;
    size-adjust: 106.1%;
}

/* medium */
@font-face {
    font-family: gotham-fallback;
    font-style: normal;
    font-weight: var(--font-weight-bold);
    src: local('Arial');
    ascent-override: 69.48%;
    descent-override: 17.37%;
    line-gap-override: 17.37%;
    size-adjust: 105%;
}

@media (min-width: 900px) {
  :root {
    --heading-font-size-xxl-home: 5rem;
    --heading-font-size-xxl: 4.5rem;
    --heading-font-size-xl: 4.5rem;
    --heading-font-size-l: 2.2rem;
    --heading-font-size-m: 1.7rem;
    --heading-font-size-s: 1.6rem;
    --heading-font-size-xs: 1.6rem;
    --nav-height: 172px;
  }
}

html {
    /* sets root font size to 10px to simplify calculations
       and improve readability */

    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-size: var(--body-font-size-m);
    margin: 0;
    font-family: var(--body-font-family);
    line-height: 1.1;
    color: var(--text-color);
    background-color: var(--background-color);
    display: none;
}

body.appear {
    display: block;
}

header {
    height: var(--nav-height);
}

h1, h2, h3,
h4, h5, h6 {
    font-family: var(--heading-font-family);
    font-weight: var(--font-weight-regular);
    line-height: 1.25;
    margin-top: 1em;
    margin-bottom: .5em;
    scroll-margin: 38px;
    color: var(--link-color);
}

h1 {
    font-size: var(--heading-font-size-xxl)
}

h2 {
    font-size: var(--heading-font-size-xl)
}

h3 {
    font-size: var(--heading-font-size-l)
}

h4 {
    font-size: var(--heading-font-size-m)
}

h5 {
    font-size: var(--heading-font-size-s)
}

h6 {
    font-size: var(--heading-font-size-xs)
}

p, dl, ol, ul, pre, blockquote {
    margin-top: 1em;
    margin-bottom: 1em;
}

p {
    line-height: 1.1;
}

hr {
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    border: 0;
    border-bottom: 1px solid var(--overlay-background-color);
}

code, pre, samp {
    font-family: var(--fixed-font-family);
    font-size: var(--body-font-size-s);
}

code, samp {
    padding: .125em;
}

pre {
    overflow: scroll;
}

strong {
    font-weight: 500;
}

main pre {
    background-color: var(--overlay-background-color);
    padding: 1em;
    border-radius: .25em;
    overflow-x: auto;
    white-space: pre;
}

a:not(.button):any-link {
    display: inline-block;
    color: var(--link-color);
    text-decoration: none;
    font-weight: var(--link-font-weight);
}

a:not(.button):hover {
    text-decoration: none;
    color: var(--link-hover-color);
    font-weight: var(--link-font-weight-hover);
}

/* buttons */
a.button:any-link, button {
    text-decoration: none;
    display: flex;
    width: fit-content;
    color: var(--cta-color);
    border: 2px solid var(--cta-color);
    background-color: var(--color-white);
    align-items: center;
    vertical-align: center;
    font-family: var(--body-font-family);
    text-transform: uppercase;
    font-size: 1.2rem;
    line-height: 1.2rem;
    font-weight: var(--font-weight-bold);
    border-radius: 26px;
    padding: 0 20px;
    height: 30px;
    margin-top: 14px;
}

a.button:hover, a.button:focus, button:hover, button:focus {
    cursor: pointer;
}

button:disabled, button:disabled:hover {
    background-color: var(--overlay-background-color);
    cursor: unset;
}

a.button.secondary, button.secondary {
    background-color: unset;
    border: 0;
    color: var(--cta-color);
    justify-content: space-between;
    position: relative;
    text-transform: unset;
    font-weight: 400;
    font-style: normal;
}

a.button.secondary:any-link {
    padding: 0;
}

a.button.secondary::after, button.secondary::after {
    content: "";
    display: inline-block;
    width: 14px;
    height: 16px;
    margin-left: 10px;
    background-image: url("/icons/icon_pink-arrow-right-md.png");
    background-size: contain;
    background-repeat: no-repeat;
    vertical-align: middle;
}

main input {
    font-size: 2rem;
    width: 100%;
    max-width: 800px;
    display: block;
    margin-bottom: 16px;
    padding: 12px 9.6px;
    border-radius: 4px;
    box-sizing: border-box;
    border: 1px solid var(--text-color);
    color: var(--text-color);
    background-color: var(--background-color);
}

main input:hover {
    border: 1px solid var(--text-color);
}

main blockquote {
    font-style: italic;
    margin: 48px;
    text-indent: -16px;
    hanging-punctuation: first;
}

main blockquote p::before {
    content: "“";
    line-height: 0;
}

main blockquote p::after {
    content: "”";
    line-height: 0;
}

main img {
    max-width: 100%;
}

.icon {
    display: inline-block;
    height: 24px;
    width: 24px;
}

.icon img {
    height: 100%;
    width: 100%;
}

main .section {
    padding: 64px 16px;
}

@media (min-width: 900px) {
    main .section {
        padding: 64px 32px;
    }

    main .section:nth-last-of-type(2) {
        padding-bottom: 22px;
    }
}

@media (min-width: 900px) {
    .section > div {
        max-width: var(--page-max-width);
        margin: auto;
    }

    a.button:any-link, button {
        font-size: 2rem;
        line-height: 2rem;
        padding: 0 35px;
        height: 50px;
    }

    a.button.secondary::after, button.secondary::after {
        width: 24px;
        height: 28px;
        margin-left: 10px;
    }
}

/* section metadata */
main .section.highlight {
    background-color: var(--highlight-background-color);
}

main .section.isi {
    font-size: 1.5rem;
    line-height: 1;
}

main .section.isi h2 {
    font-size: var(--heading-font-size-s);
    font-weight: 500;
    color: var(--text-orange);
}


main .section.center {
    text-align: center;
}

main .section.center a.button:any-link {
    margin: auto;
}

@media (min-width: 900px) {
    main .section.isi h2 {
        font-size: var(--heading-font-size-ml);
    }
}

main .section.isi ul {
    padding: 4px 0 11px 20px;
}

main .section.isi li {
    margin: 8px 0;
}

main .section.isi strong {
    font-weight: 500;
}

.home .columns-row img {
    max-width: 260px;
    max-height: 200px;
}

@media (min-width: 900px) {
    .home .columns-row img {
        max-width: 330px;
        max-height: 330px;
    }
}

.copd-treatment .columns-row {
    position: relative;
    padding-bottom: 125px;
}

.copd-treatment .columns-80-20 .columns-row {
    padding-bottom: unset;
}

.copd-treatment .columns-row:last-of-type {
    margin-bottom: -25px;
}

.copd-resources main .button-container {
    border-top: 1px solid var(--highlight-background-color);
    border-bottom: 1px solid var(--highlight-background-color);
}

.copd-treatment .button-container a {
    border: unset;
    background-color: unset;
    font-size: var(--body-font-size-s);
    padding: 0;
    text-transform: unset;
}

.copd-resources main .button-container a {
    border: 0;
    font-size: var(--body-font-size-s);
    text-transform: none;
    padding: 30px 39px 30px 25px;
    margin: 0 auto;
}

.copd-treatment .columns .button-container {
    border-top: 1px solid var(--color-grey-5);
    position: absolute;
    bottom: 45px;
    width: 100%;
}

.copd-treatment .columns .button-container a {
    margin-top: 30px;
}

.copd-treatment .button-container a::after {
    content: "";
    width: 20px;
    height: 20px;
    background-image: url('/icons/icon_pink-arrow-right-md.png');
    background-size: 100%;
    background-repeat: no-repeat;
    display: block;
    margin-left: auto;
    transform: translate(10px, -2px);
}

.copd-treatment .columns-80-20 {
    color: var(--link-color);
    font-size: var(--body-font-size-xl);
}

.copd-treatment .columns-60-40 .columns-img-col {
    order: 3;
}

@media (min-width: 900px) {
    .copd-treatment .columns-60-40 .columns-img-col {
        order: unset;
    }

    .copd-treatment .columns-row {
        position: unset;
        padding-bottom: unset;
    }

    .copd-treatment .columns-row:last-of-type {
        margin-bottom: unset;
    }
    
    .copd-treatment .columns .button-container {
        position: unset;
        width: unset;
    }

    .copd-treatment .columns .button-container a {
        margin-top: 6px;
    }
}

/* copd-resources theme */
.copd-resources main .section.hero-container + .section {
    padding-top: 32px;
}

.copd-resources main .default-content-wrapper {
    line-height: 1.2em;
    font-size: 1.4rem;
}

.copd-resources main .default-content-wrapper p {
    line-height: 1.2em;
}

.copd-resources main .default-content-wrapper h2 {
    font-size: 2rem;
}

.copd-resources main .default-content-wrapper strong {
    font-weight: 400;
}

.copd-resources main .default-content-wrapper li {
    margin-bottom: 15px;
}

.copd-resources main .button-container a::after {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url("/icons/icon_pink-arrow-right-md.png") no-repeat;
    background-size: contain;
    margin-left: 30px;
}

@media (min-width: 900px) {
    .copd-resources main .section:not(.isi) .default-content-wrapper {
        width: 750px;
        margin: auto;
    }

    .copd-resources main .default-content-wrapper h2 {
        font-size: 3.2rem;
    }
}
